<script>
    window.addEventListener('load', function() {
        Object.defineProperty( phabrico, "autoLogOff", {
            value: new AutoLogOff(@@AUTOLOGOUTAFTERMINUTESOFINACTIVITY@@),
            writable: false,
            enumerable: true,
            configurable: false
        });

        @{IF @@PUBLIC-ACCESS@@=True@
            phabrico.autoLogOff.disable();
        }@
    }, false);

    function updateManiphestTaskCount() {
        var getManiphestCount = new XMLHttpRequest();
        getManiphestCount.overrideMimeType("application/json");
        getManiphestCount.open('GET', "/maniphest/count/", true);
        getManiphestCount.onload  = async function() {
            var jsonResponse = JSON.parse(getManiphestCount.responseText);
            var maniphestCount = document.querySelector('.maniphest-count');
            if (jsonResponse.Count == 0) {
                maniphestCount.innerText = "";
            } else {
                maniphestCount.innerText = jsonResponse.Count;
            }
        };
        getManiphestCount.send(null);
    }

    updateManiphestTaskCount();
</script>

<nav>
    <ul class="phui-list-view">
        <li class="phui-list-item-view">
            <a href="/maniphest/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-anchor phui-list-item-icon">
                    <span class="phui-list-item-name">Maniphest<span class="navigator-menuitem-notification information maniphest-count"></span>
                        <span class="tooltiptext">Tasks and Bugs</span>
                    </span>
                </span>
            </a>
        </li>

        <li class="phui-list-item-view">
            <a href="/w/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-book phui-list-item-icon">
                    <span class="phui-list-item-name">Phriction
                    <span class="tooltiptext">Wiki Documents</span>
                </span>
            </span></a>
        </li>
    @{PLUGINS
        <li class="phui-list-item-view">
            <a href="/@@PLUGIN-URL@@/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa @@PLUGIN-ICON@@ phui-list-item-icon">
                    <span class="phui-list-item-name">@@PLUGIN-NAME@@<span class="navigator-menuitem-notification @@PLUGIN-URL@@-notifier"></span>
                        <span class="tooltiptext">@@PLUGIN-DESCRIPTION@@</span>
                    </span>
                </span>
            </a>
        </li>
    }@
    

    @{IF @@PUBLIC-ACCESS@@=False@
        <li class="phui-list-item-view">
            <a href="/project/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-briefcase phui-list-item-icon">
                    <span class="phui-list-item-name">Projects
                        <span class="tooltiptext">Projects to be synchronized</span>
                    </span>
                </span>
            </a>
        </li>

        <li class="phui-list-item-view">
            <a href="/user/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-users phui-list-item-icon">
                    <span class="phui-list-item-name">Users
                        <span class="tooltiptext">User accounts to be synchronized</span>
                    </span>
                </span>
            </a>
        </li>
    }@
        <li class="phui-list-item-view">
            <a href="/file/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-file-image-o phui-list-item-icon">
                    <span class="phui-list-item-name">File objects
                        <span class="tooltiptext">Referenced file objects</span>
                    </span>
                </span>
            </a>
        </li>
    @{IF @@PUBLIC-ACCESS@@=False@
        <li class="phui-list-item-view">
            <a href="/configure/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-sliders phui-list-item-icon">
                    <span class="phui-list-item-name">Config
                        <span class="tooltiptext">Configure Phabrico</span>
                    </span>
                </span>
            </a>
        </li>
    }@
        <li class="phui-list-item-view">
            <a href="/offline/changes/" class="phui-list-item-href tooltip-right">
                <span class="phui-font-fa fa-pencil phui-list-item-icon">
                    <span class="phui-list-item-name">Offline changes
                        <span class="tooltiptext">View local changes</span>
                    </span>
                </span>
            </a>
        </li>
    @{IF @@PUBLIC-ACCESS@@=False@
        <li class="phui-list-item-view">
            <div style="margin:20px 5px; text-align:center;">
                <button class="button-green" name="__synchronize__" type="button" onclick="phabrico.synchronization.confirm()">Synchronize</button>
            </div>
        </li>
    }@
    </ul>
</nav>

<main>
    <div class="phabrico-page-content phabrico-standard-treeitem-body right-collapsed">
    @@CONTENT@@
    </div>
</main>

<form action="" method="POST" id="dlgRequestSynchronize" class="aphront-dialog-view modal" style="display:none" onsubmit="return phabrico.synchronization.start(this, 'full');">
    <div class="aphront-dialog-overlay"></div>
    <div class="aphront-dialog-head">
        <span class="phui-header-header">Synchronizing</span>
    </div>
    <div class="aphront-dialog-body phabrico-remarkup">
        <div class="phabrico-remarkup">
            <p id="dlgRequestSynchronizeDetail"></p>
            <br>
            <p>Do you really want to synchronize the public Phabricator server and your private Phabrico server?</p>
        </div>
        <br>
    </div>
    <div class="aphront-dialog-tail grouped">
        <button name="__synchronize__" data-accesskey="Button-AccessKey-No" type="button" class="button-gray" onclick="phabrico.synchronization.cancel()">No</button>
        <button name="__synchronize__" data-accesskey="Button-AccessKey-Yes" type="submit">Yes</button>
    </div>
</form>

<form action="" method="POST" id="dlgSynchronizing" class="aphront-dialog-view modal" style="display:none">
    <div class="aphront-dialog-overlay"></div>
    <div class="aphront-dialog-head">
        <span class="phui-header-header">Synchronizing</span>
    </div>
    <div class="aphront-dialog-body phabrico-remarkup">
        <div class="phabrico-remarkup">
            <div id="syncProgress"></div>
            <pre id="requestStackTrace"></pre>
            <div id="btnCloseSyncErrorDialog" style="display:none; margin-bottom: -30px;text-align: center;"><input type="button" value="OK" onclick="phabrico.synchronization.stop()"></div>
        </div>
        <br>
    </div>
    <div class="aphront-dialog-tail">&nbsp;</div>
</form>

<script>
    // correct tooltip position for navigator element in case the menu is scrolled vertically
    document.querySelector('ul.phui-list-view').addEventListener('scroll', function(e) { 
        var marginTop = -document.querySelector('ul.phui-list-view').scrollTop - 4;
        document.querySelectorAll('.phui-list-item-name .tooltiptext').forEach(function(tooltip) { 
            tooltip.style.marginTop = marginTop + "px";
        });
    });

    // configure notification for navigator elements
    document.querySelectorAll('.navigator-menuitem-notification').forEach(function(notifier) {
        var link = notifier.closest('a.phui-list-item-href').pathname.replace(/\/*$/, "");
        var webSocket = new WebSocket("ws://" + document.location.host + link + "/notification");
        webSocket.onmessage = function(event) {
            var notification = JSON.parse(event.data);
            notifier.innerText = notification.Message;
            if (notification.Type == "error") {
                notifier.classList.remove('information');
                notifier.classList.add('error');
            } else {
                notifier.classList.remove('error');
                notifier.classList.add('information');
            }
        };
    });
</script>