<!DOCTYPE html>
<html lang="@@LOCALE@@" class="notranslate" translate="no">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Phabrico, offline reader and editor for Phabricator tasks and documents">
    <meta name="google" content="notranslate">
    <title>Phabrico</title>
    <link rel="stylesheet" href="/css/font-faces.css?version=@@PHABRICO-VERSION@@" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.css?version=@@PHABRICO-VERSION@@" type="text/css" />
    <link rel="icon" href="/favicon.ico?version=@@PHABRICO-VERSION@@" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico?version=@@PHABRICO-VERSION@@" type="image/x-icon" />
</head>
<body style="padding:20px">
    <script>
        document.body.dataset.theme = '@@THEME@@';
        document.body.dataset.themestyle = '@@THEME-STYLE@@';
        document.body.dataset.locale = '@@LOCALE@@';
    </script>

    @@CONTENT@@
</body>
</html>