@{IF @@HAS-FAVORITES@@=True@
    @{IF @@ACCESS-HIDE-PHRICTION@@=False@
        @{IF @@ACCESS-HIDE-PHRICTION-FAVORITES@@=False@
            <div class="app-main-window" style="width:calc(100% - 50px);">
                <div class="app-window-head">
                    <span>Favorites</span>
                </div>
                <div class="app-window-body favorites">
                    <div class="favorites-list">
                    </div>
                </div>
            </div>
        }@
    }@
}@

@{IF @@IIS-MODULE@@=False@
    <div class="app-main-window" style="width:calc(100% - 50px);">
        <div class="app-window-head">
            <span>General Overview</span>
        </div>
        <div class="app-window-body homepage">
            <table>
                <tbody>
                    @{IF @@CHECK-FOR-LATEST-VERSION@@=True@
                    <tr>
                        <td>
                            <label class="aphront-form-label">Phabrico Version:</label>
                        </td>
                        <td class="phabrico-version">
                            <a href="https://github.com/Phabrico/Phabrico/releases/latest" title="There's a new Phabrico version available">@@PHABRICO-VERSION@@</a>
                            <span>@@PHABRICO-VERSION@@</span>
                        </td>
                    </tr>
                    }@
                    <tr>
                        <td>
                            <label class="aphront-form-label">Phabrico Build date:</label>
                        </td>
                        <td>
                            @@PHABRICO-BUILD-DATE@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Last synchronized with Phabricator at:</label>
                        </td>
                        <td>
                            @{IF @@ACCESS-MASTER-DATA@@=False@
                            @@LAST-SYNCHRONIZATION-TIME@@
                            }@
                            @{ELSE
                            <a href="synchronization/logging/">@@LAST-SYNCHRONIZATION-TIME@@</a>
                            }@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Phabrico Database Location:</label>
                        </td>
                        <td>
                            @@PHABRICO-DATABASE-LOCATION@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Phabrico Database size:</label>
                        </td>
                        <td>
                            @@PHABRICO-DATABASE-SIZE@@
                        </td>
                    </tr>
                    @{IF @@PHABRICO-REMOTE-ACCESS@@=RemoteAccess@
                    <tr>
                        <td>
                            <label class="aphront-form-label">Remote access:</label>
                        </td>
                        <td>
                            Enabled
                        </td>
                    </tr>
                    }@
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of Phriction documents:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-PHRICTION-DOCUMENTS@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of Maniphest tasks:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-MANIPHEST-TASKS@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of Projects:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-PROJECTS@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of Users:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-USERS@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of File objects:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-FILE-OBJECTS@@  (Median size = @@PHABRICO-FILE-OBJECTS-MEDIAN-SIZE@@ &nbsp; &nbsp;  Maximum size = @@PHABRICO-FILE-OBJECTS-MAXIMUM-SIZE@@)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of uncommitted objects:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-UNCOMMITTED-OBJECTS@@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="aphront-form-label">Number of frozen objects:</label>
                        </td>
                        <td>
                            @@PHABRICO-NUMBER-FROZEN-OBJECTS@@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}@

<script>
    @{IF @@ACCESS-HIDE-PHRICTION@@=False@
        @{IF @@HAS-FAVORITES@@=True@
            var favoriteItemToBeDragged = null;
            var favorites =  @@FAVORITES@@;

            function bulletClick(e) {
                var bulletContent = getComputedStyle(e.target, ':before').getPropertyValue('content');
                bulletContent = bulletContent[1];
                if (bulletContent == '\u2702') // arrows
                {
                    var item = e.target.closest('.favorite-item');
                    var index = Array.from(item.parentElement.children).indexOf(item);
                    favorites.filter(item => item.order >= index)
                             .forEach(next => { 
                                next.order = next.order + 1;
                             });
                    convertFavoritesJsonToHtml();
                    favorites = convertFavoritesHtmlToJson();
                    storeSequenceOrderFavoriteItems();
                }
                else
                if (bulletContent == '\u2B0D') // scissor
                {
                    var splitter = e.target.closest('.splitter');
                    var index = Array.from(splitter.parentElement.children).indexOf(splitter);
                    favorites.filter(item => item.order > index)
                             .forEach(next => { 
                                next.order = next.order - 1;
                             });
                    convertFavoritesJsonToHtml();
                    favorites = convertFavoritesHtmlToJson();
                    storeSequenceOrderFavoriteItems();
                }
            }
            
            function convertFavoritesHtmlToJson() {
                var order = -1;
                var json = Array.prototype.slice.call(document.querySelector('.favorites-list').querySelectorAll('.favorite-item'), 0)
                               .map(function(item) {
                                    order++;
                                    if (item.classList.contains('splitter')) {
                                        return null;
                                    }
                                    
                                    var a = item.querySelector('a');
                                    
                                    return {
                                        "token": item.dataset.token,
                                        "url": a.attributes.href.value,
                                        "title": a.innerHTML,
                                        "order": order
                                    };
                                })
                                .filter(function(item) {
                                    return item != null;
                                });            
                return json;
            }
            
            function convertFavoritesJsonToHtml() {
                var favoritesList = document.querySelector('div.favorites-list');
                document.querySelectorAll('.favorites-list .bullet')
                        .forEach(bullet => bullet.removeEventListener('click', bulletClick));
                document.querySelectorAll('.favorites-list .favorite-item')
                        .forEach(favitem => {
                            favitem.removeEventListener('mousemove', moveFavoriteItem);
                            favitem.removeEventListener('mouseup', mouseupFavoriteItem);
                        });
                favoritesList.innerHTML = "";
                        
                var previousOrder = -1;
                for (var favoriteIndex in favorites) {
                    var favorite = favorites[favoriteIndex];
                    if (favorite.order - 1 != previousOrder  &&  previousOrder != -1) {
                        // add splitter
                        var splitter = document.createElement('div');
                        var splitterBullet = document.createElement('span');
                        var splitterContent = document.createElement('hr');
                        splitter.classList.add('favorite-item');
                        splitter.classList.add('splitter');
                        splitterBullet.classList.add('bullet');
                        splitterBullet.classList.add('fa');
                        splitter.appendChild(splitterBullet);
                        splitter.appendChild(splitterContent);
                        splitter.addEventListener('mousemove', moveFavoriteItem);
                        favoritesList.appendChild(splitter);
                        
                        splitterBullet.addEventListener('click', bulletClick);
                    }

                    // add link
                    var favoriteItem = document.createElement('div');
                    var bullet = document.createElement('span');
                    var link = document.createElement('a');
                    favoriteItem.classList.add('favorite-item');
                    favoriteItem.dataset.token = favorite.token;
                    link.innerHTML = favorite.title;
                    link.href = favorite.url;
                    bullet.innerText = "";
                    bullet.classList.add("bullet");
                    bullet.classList.add("fa");
                    favoriteItem.appendChild(bullet);
                    favoriteItem.appendChild(link);
                    favoritesList.appendChild(favoriteItem);
                    favoriteItem.addEventListener('mousemove', moveFavoriteItem);
                    favoriteItem.addEventListener('mouseup', mouseupFavoriteItem);
                    bullet.addEventListener('click', bulletClick);
                    
                    previousOrder = favorite.order;
                }
            }
            
            function mouseupFavoriteItem(e) {
                if (favoriteItemToBeDragged != null) {
                    favoriteItemToBeDragged = null;
                    convertFavoritesJsonToHtml();
                }
            }
            
            function moveFavoriteItem(e) {
                var favoriteItem = e.target.closest('.favorite-item');

                if (event.buttons == 1 && event.button == 0) {
                    if (favoriteItemToBeDragged == null) {
                        if (favoriteItem.classList.contains('splitter') == false) {
                            favoriteItem.classList.add('dragging');
                            favoriteItemToBeDragged = favoriteItem;
                        }
                    } 
                    else
                    if (favoriteItemToBeDragged != favoriteItem) {
                        var indexDragged = Array.from(favoriteItemToBeDragged.parentElement.children).indexOf(favoriteItemToBeDragged);
                        var indexMouseOver = Array.from(favoriteItem.parentElement.children).indexOf(favoriteItem);
                        if (indexDragged > indexMouseOver) {
                            favoriteItemToBeDragged.parentElement.insertBefore(favoriteItemToBeDragged, favoriteItem);
                        } else {
                            favoriteItemToBeDragged.parentElement.insertBefore(favoriteItemToBeDragged, favoriteItem.nextSibling);
                        }
                        
                        favorites = convertFavoritesHtmlToJson();
                        storeSequenceOrderFavoriteItems();
                    }
                    return;
                }

                favoriteItem.classList.remove('dragging');
            }
            
            function storeSequenceOrderFavoriteItems() {
                var tokens = Array.prototype.slice.call(document.querySelectorAll('.favorite-item')).map(f => f.dataset.token ?? "");
                var data = new FormData();
                data.append('tokens', tokens.join(","));
                var changeOrderFavoritesRequest = new XMLHttpRequest();
                changeOrderFavoritesRequest.open('POST', 'phriction/changeOrderFavorites', true);
                changeOrderFavoritesRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
                changeOrderFavoritesRequest.send(data);
            }
            
            convertFavoritesJsonToHtml();

        }@
    }@

    @{IF @@CHECK-FOR-LATEST-VERSION@@=True@
        if (localStorage.getItem("phabrico-new-version-available") != null  &&  "@@PHABRICO-VERSION@@" != localStorage["phabrico-new-version-available"]) {
            // force new version check by removing localStorage variables after new Phabrico version is installed
            localStorage.removeItem("phabrico-new-version-check");
            localStorage.removeItem("phabrico-new-version-available");
        }
    }@
</script>