<div class="crumbs">
    <a href="maniphest/">
        <span class="phui-font-fa fa-anchor" style="padding-right: 5px;">&#x200B;</span>
    </a><a href="maniphest/">Maniphest</a><span>  &gt;  </span><a>T@@TASK-ID@@</a>
    <a class="crumbsAction" href="maniphest/?action=new" style="text-align: right;">
        <span class="visual-only phui-icon-view phui-font-fa fa-plus-square"></span>
        <span class="phui-crumbs-action-name" style="margin-right: 18px;">Create Task</span>
    </a>
</div>

<div class="app-window" style="margin-top: 20px;">
    <div class="maniphest-task-header">
        <span class="maniphest-task-syncstate @@TASK-UNSYNCED@@" title="This modified task hasn't been uploaded yet to the Phabricator server"></span>
        <span class="maniphest-list-icon phui-font-fa fa-exclamation-circle @@TASK-PRIORITY-COLOR@@" title="@@TASK-PRIORITY-DESCRIPTION@@"></span>
        <span>@@TASK-HEADER@@</span>
        <div class="maniphest-task-state"><span class="phui-font-fa @@TASK-STATUS-ICON@@">@@TASK-STATUS-DESCRIPTION@@</span></div>
    </div>
</div>

<div style="margin-top:-10px">
    <div class="app-main-window">
        <div class="app-window-head">
            <span>Description</span>
        </div>
        <div class="app-window-body">
            <span id="remarkupContent" class="remarkupContent">@@TASK-DESCRIPTION@@</span>
        </div>
    </div>
    <div class="expandcollapse maniphesttask">
        <span onclick="phabrico.appSideWindow.Collapse();" class="phui-font-fa fa-chevron-right">&nbsp;</span>
        <span onclick="phabrico.appSideWindow.Expand();" class="phui-font-fa fa-chevron-left">&nbsp;</span>
    </div>
    <div class="app-side-window maniphest-task">
        <div class="app-window-body" tabindex="-1">
            <ul class="list-view">
                @{IF @@ACCESS-READONLY@@=False@
                <li class="list-item-view">
                    <a href="maniphest/T@@TASK-ID@@/?action=edit" class="list-item-href edit" data-keyboard-shortcut="CTRL+E">
                        <span class="phui-font-fa fa-pencil phui-list-item-icon">
                            <span class="phui-list-item-name">Edit Task</span>
                        </span>
                    </a>
                </li>
                }@
                @{IF @@ACCESS-MASTER-DATA@@=True@
                    <li class="list-item-view">
                        <a id="actionViewPhabricatorTask" class="list-item-href">
                            <span class="phui-font-fa fa-institution phui-list-item-icon">
                                <span class="phui-list-item-name">View Task on Phabricator</span>
                            </span>
                        </a>
                    </li>
                }@
                <li id="actionViewLocalChanges" data-task-state="@@TASK-UNSYNCED@@" class="list-item-view">
                    <a href="offline/changes/view/@@TASK-TOKEN@@/" class="list-item-href">
                        <span class="compare phui-list-item-icon">
                            <span class="phui-list-item-name">View local changes</span>
                        </span>
                    </a>
                </li>
                @{IF @@ACCESS-READONLY@@=False@
                <li id="actionUndoLocalChanges" data-task-state="@@TASK-UNSYNCED@@" class="list-item-view">
                    <a href="#@@TASK-TOKEN@@[edit]" class="list-item-href" onclick="showUndoConfirmation(this);">
                        <span class="phui-font-fa fa-times phui-list-item-icon">
                            <span class="phui-list-item-name">Dismiss local changes</span>
                        </span>
                    </a>
                </li>
                }@

                @{MANIPHEST-TASK-PLUGINS
                <li class="plugin-action list-item-separator"></li>
                <li class="plugin-action list-item-view" style="height:20px; margin: 2px 0.5px;">
                    <a href="#" class="list-item-href" data-keyboard-shortcut="@@MANIPHEST-TASK-PLUGIN-KEYBOARD-SHORTCUT@@" onclick='executeManiphestTaskPlugin("@@MANIPHEST-TASK-PLUGIN-NAME@@", "@@MANIPHEST-TASK-PLUGIN-URL@@");'>
                        <span class="phui-font-fa @@MANIPHEST-TASK-PLUGIN-ICON@@ phui-list-item-icon">
                            <span class="phui-list-item-name" style="font-size: 1em;">@@MANIPHEST-TASK-PLUGIN-NAME@@</span>
                        </span>
                    </a>
                </li>
                }@

                @{IF @@ACCESS-HIDE-PROJECTS@@=False@
                    <li class="list-item-separator"></li>
                    <li class="list-item-view">
                        <span class="list-item-head">Tags</span>
                    </li>
                    @{PROJECTS
                    <li class="list-item-view maniphest-list-item-project">
                        <a class="project-reference phui-font-fa fa-briefcase" href="project/info/@@TASK-PROJECT-TOKEN@@/" style="@@TASK-PROJECT-STYLE@@">@@TASK-PROJECT-NAME@@</a>
                    </li>
                    }@
                }@

                @{IF @@ACCESS-HIDE-USERS@@=False@
                    <li class="list-item-separator"></li>
                    <li class="list-item-view">
                        <span class="list-item-head">Subscribers</span>
                    </li>
                    @{SUBSCRIBERS
                        @{IF @@TASK-SUBSCRIBER-TOKEN-TYPE@@=user@
                        <li class="list-item-view list-item-link">
                            <a href="user/info/@@TASK-SUBSCRIBER-TOKEN@@/">@@TASK-SUBSCRIBER-NAME@@</a>
                        </li>
                        }@
                        @{IF @@TASK-SUBSCRIBER-TOKEN-TYPE@@=proj@
                        <li class="list-item-view maniphest-list-item-project">
                            <a class="project-reference phui-font-fa fa-briefcase" href="project/info/@@TASK-SUBSCRIBER-TOKEN@@/" style="@@TASK-SUBSCRIBER-STYLE@@">@@TASK-SUBSCRIBER-NAME@@</a>
                        </li>
                        }@
                    }@
                    <li class="list-item-separator"></li>
                    <li class="list-item-view">
                        <span class="list-item-head">Assigned To</span>
                    </li>
                    <li class="list-item-view list-item-link">
                        <a href="user/info/@@TASK-ASSIGNED-TOKEN@@/">@@TASK-ASSIGNED-NAME@@</a>
                    </li>
                    <li class="list-item-separator"></li>
                    <li class="list-item-view">
                        <span class="list-item-head">Authored By</span>
                    </li>
                    <li class="list-item-view list-item-link">
                        <a href="user/info/@@TASK-AUTHOR-TOKEN@@/">@@TASK-AUTHOR-NAME@@</a>
                        @@TASK-DATE@@
                    </li>
                }@
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="timeline">
        @{TRANSACTIONS
        <div class="timeline-item @@TASK-TRANSACTION-TYPE@@">
            <div class="timeline-item-title">
                @@TASK-TRANSACTION-TEXT@@
                <span class="timestamp">@@TASK-TRANSACTION-DATE@@<span>
            </div>
            <div class="timeline-item-content">@@TASK-TRANSACTION-DETAIL@@</div>
        </div>
        }@
    </div>
    <form action="maniphest/T@@TASK-ID@@/?action=transaction" method="POST">
        <input name="operation" type="hidden" value="comment" />
        <input name="token" type="hidden" value="@@TASK-TOKEN@@" />
        <input name="csrf_token" type="hidden" value="@@CSRF@@" />
        <div class="app-main-window">
            <div class="app-window-head">
                <label class="select">
                    <select class="transaction">
                        <option value="+">Add Action...</option>
                        <option value="owner">Assign / Claim</option>
                        <option value="status">Change Status</option>
                        <option value="priority">Change Priority</option>
                        <option value="projectPHIDs">Change Project Tags</option>
                        <option value="subscriberPHIDs">Change Subscribers</option>
                    </select>
                </label>
            </div>
            <div id="edit" class="app-window-body edit">
                <label id="status" class="select" style="display: none; top: -3px;">
                    <select>
                        @{TASK-STATUSES
                        <option value="@@TASK-STATUSES-STATUS-TOKEN@@" @@TASK-STATUSES-STATUS-SELECTED@@>@@TASK-STATUSES-STATUS-NAME@@</option>
                        }@
                    </select>
                </label>
                <label id="priority" class="select" style="display: none; top: -3px;">
                    <select>
                        @{TASK-PRIORITIES
                        <option value="@@TASK-PRIORITIES-PRIORITY-TOKEN@@" @@TASK-PRIORITIES-PRIORITY-SELECTED@@>@@TASK-PRIORITIES-PRIORITY-NAME@@</option>
                        }@
                    </select>
                </label>
                <div class="app-edit-window-head @@TASK-NEW-TOKEN@@">
                    <span class="phui-font-fa fa-bold tooltip-top"><span class="tooltiptext">Bold</span></span>
                    <span class="phui-font-fa fa-italic tooltip-top"><span class="tooltiptext">Italic</span></span>
                    <span class="phui-font-fa fa-text-width tooltip-top"><span class="tooltiptext">Monospaced</span></span>
                    <span class="phui-font-fa fa-list-ul tooltip-top"><span class="tooltiptext">Bulleted List</span></span>
                    <span class="phui-font-fa fa-list-ol tooltip-top"><span class="tooltiptext">Numbered List</span></span>
                    <span class="phui-font-fa fa-code tooltip-top"><span class="tooltiptext">Code Block</span></span>
                    <span class="phui-font-fa fa-quote-right tooltip-top"><span class="tooltiptext">Quote</span></span>
                    <span class="phui-font-fa fa-table tooltip-top"><span class="tooltiptext">Table</span></span>
                    <a href="remarkup/syntax" target="_blank">&#x200B;
                        <span class="right phui-font-fa fa-book tooltip-top" style="padding: 0px 8px;"><span class="tooltiptext">Help</span></span>
                    </a>
                </div>
                <textarea id="textarea" class="@@TASK-NEW-TOKEN@@ dropzone" name="comment" style="min-height: 12em;" oninput="inputChanged(this.value, previewNewComment)">@@TASK-STAGED-COMMENT@@</textarea>
                <div id="editStatusBar"></div>
                <div style="margin-top: 17px;float: right;">
                    <button type="submit" style="margin-bottom: 10px;">Set Sail for Adventure</button>
                </div>
            </div>
        </div>
    </form>
    <div class="timeline" style="display:none">
        <div class="timeline-item comment">
            <div class="timeline-item-title">
                @@COMMENT-AUTHOR@@ added a comment.
                <span class="timestamp"><span>
            </div>
            <div id="previewNewComment" class="timeline-item-content"></div>
        </div>
    </div>
</div>

<form id="frmManiphestTask" action="" method="POST">
    <input name="item" type="hidden" value="@@TASK-TOKEN@@" />
    <input name="csrf_token" type="hidden" value="@@CSRF@@" />
    <div id="dlgConfirmUndo" class="aphront-dialog-view modal" style="display:none">
        <div class="aphront-dialog-overlay"></div>
        <div class="aphront-dialog-head">
            <span class="phui-header-header">Undo</span>
        </div>
        <div class="aphront-dialog-body phabrico-remarkup">
            <div class="phabrico-remarkup">
                <p>@@TASK-CONFIRMATION-UNDO-LOCAL-CHANGES@@</p>
                <p>&nbsp;</p>
                <p id="dlgConfirmUndoDetail" style="text-align: center;font-weight:bold;">@@TASK-HEADER@@</p>
            </div>
            <br />
        </div>
        <div class="aphront-dialog-tail grouped">
            <button type="button" data-accesskey="Button-AccessKey-No" class="button-gray" onclick="cancelUndo()">No</button>
            <button type="button" data-accesskey="Button-AccessKey-Yes" onclick="confirmUndo()">Yes</button>
        </div>
    </div>
</form>

<script>
    var remarkup = null;

    function cancelUndo()
    {
        dlgConfirmUndo.style.display = 'none';
    }

    function confirmUndo()
    {
        dlgConfirmUndo.style.display = 'none';

        var elem = dlgConfirmUndo.tagElement;
        submitItem(elem, "offline/changes/undo");
    }

    function inputChanged(value, right) {
        // if no content, hide preview
        var trimmedValue = value.replace(/^[ \t\r\n]*/g, "").replace(/[ \t\r\n]*$/g, "");
        if (trimmedValue.length == 0) {
            previewNewComment.closest('.timeline').style.display = 'none';
        }
        else {
            previewNewComment.closest('.timeline').style.display = 'block';
        }

        // translate remarkup
        inputHasBeenChanged = true;
        remarkup.Decode(value, right);
    }

    function showUndoConfirmation(elem)
    {
        dlgConfirmUndo.tagElement = elem;
        dlgConfirmUndo.style.display = 'block';
    }

    function submitItem(item, url)
    {
        setTimeout(function() {
            var elem = frmManiphestTask.getElementsByTagName('input');
            if (elem.length > 0)
            {
                elem = elem[0];
            }
            else
            {
                elem = document.createElement('input');
                elem.type = "hidden";
                elem.name = "item";
                frmManiphestTask.appendChild(elem);
            }

            elem.value = item.closest('a').hash.substring(1);

            var data = new FormData(frmManiphestTask);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if(xmlhttp.readyState == 4)
                {
                    var taskID = parseInt(document.location.pathname.split('/')[2].substring(1));
                    if (taskID < 0) {
                        // task does not exist anymore -> go to maniphest tasks overview
                        document.location.href = "maniphest/";
                    } else {
                        document.location.href = document.location.pathname;
                    }
                }
            }
            xmlhttp.open('POST', url, true);
            xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            xmlhttp.send(data);
        }, 250);
    }

    function initializeManiphestTaskPluginFormData() {
        var data = new FormData();

        // get ID
        data.append('taskID', '@@TASK-ID@@');
        data.append('confirm', 'None');

        return data;
    }

    function executeManiphestTaskPlugin(pluginName, pluginURL) {
        var data = initializeManiphestTaskPluginFormData();
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if(xmlhttp.readyState == 4)
            {
                var jsonResponse = JSON.parse(xmlhttp.responseText);
                if (jsonResponse.Status == 'Confirm') {
                    showHideConfirmationMessage( true, pluginName, jsonResponse.Message,
                                                    function() {
                                                        showHideConfirmationMessage(false);
                                                        executeManiphestTaskPluginConfirmed(pluginURL, data, true);
                                                    },
                                                    function() {
                                                        showHideConfirmationMessage(false);
                                                        executeManiphestTaskPluginConfirmed(pluginURL, data, false);
                                                    },
                                                    function() {
                                                        showHideConfirmationMessage(false);
                                                    }
                                                );
                }

                if (jsonResponse.Status == 'Finished') {
                    showHideConfirmationMessage(false);
                    executeManiphestTaskPluginConfirmed(pluginURL, data, false);
                }
            }
        }
        xmlhttp.open('POST', pluginURL, true);
        xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
        xmlhttp.send(data);
    }

    function executeManiphestTaskPluginConfirmed(url, data, confirmed) {
        var data = initializeManiphestTaskPluginFormData();
        if (confirmed) {
            data.set('confirm', 'Yes');
        } else {
            data.set('confirm', 'No');
        }

        showHideWaitNotification(true);

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if(xmlhttp.readyState == 4)
            {
                var jsonResponse = JSON.parse(xmlhttp.responseText);
                if (jsonResponse.Status == 'Finished') {
                    if (typeof jsonResponse.Base64Data !== 'undefined'  &&  typeof jsonResponse.ContentType !== 'undefined'  &&  typeof jsonResponse.FileName !== 'undefined') {
                        var a = document.createElement('a');
                        a.download = jsonResponse.FileName;
                        a.href = "data:" + jsonResponse.ContentType + ";base64," + jsonResponse.Base64Data;

                        document.body.appendChild(a);
                        a.style.display = "none";
                        a.click();

                        document.body.removeChild(a);
                    }

                    showHideWaitNotification(false);
                }
            }
        };

        xmlhttp.open('POST', url, true);
        xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
        xmlhttp.send(data);
    }

    function ignoreNoProject(item) {
        return item.Token != "PHID-PROJ-NONE";
    }

    function ignoreNoUser(item) {
        return item.Token != "PHID-USER-NONE";
    }

    // set page title
    window.addEventListener('load', function() {
        document.title = fromHTML("@@CUSTOM-APPLICATION-NAME@@") + " - " + fromHTML("@@TASK-HEADER@@");
        new TextAreaContextMenu(textarea, "@", "user", "user/query/", "UserName", "UserName", "RealName", ignoreNoUser);
        new TextAreaContextMenu(textarea, "#", "project", "project/query/", "InternalName", "ProjectName", null, ignoreNoProject);
        new TextAreaContextMenu(textarea, ":", "emoji", "remarkup/emoji/", "Code", "Name");
        remarkup = new Remarkup(() => { });
    }, false);

    const taskInputTagValues = [];
    taskInputTagValues["owner"] = { "Name": "@@TASK-ASSIGNED-NAME@@", "Token": "@@TASK-ASSIGNED-TOKEN@@" };
    taskInputTagValues["projectPHIDs"] = @@TASK-TAGS-JSON@@;
    taskInputTagValues["subscriberPHIDs"] = @@TASK-SUBSCRIBERS-JSON@@;

    // send csrf's periodically back so server does not expire them automatically
    setInterval(function (evt) {
        var data = new FormData();
        data.append('token', '@@CSRF@@');

        var xmlRequest = new XMLHttpRequest();
        xmlRequest.open('POST', 'prod', true);
        xmlRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
        xmlRequest.send(data);
    }, 60000)

    @{IF @@ACCESS-MASTER-DATA@@=True@
        actionViewPhabricatorTask.href = "@@PHABRICATOR-URL@@" + document.location.href.substring(document.baseURI.length + "maniphest/".length)
                                                                                       .match(/^T-?[0-9]+/)[0]
    }@

    document.onkeydown = function (e) {
        if (e.ctrlKey || e.altKey) {
            var shortcut = "";
            if (e.ctrlKey) shortcut += "CTRL+";
            if (e.altKey) shortcut += "ALT+";
            if (e.shiftKey) shortcut += "SHIFT+";
            shortcut += String.fromCharCode(e.keyCode);

            var actionMenuItem = document.querySelector('.list-item-href[data-keyboard-shortcut="' + shortcut + '"]');
            if (actionMenuItem != null) {
                e.preventDefault();

                actionMenuItem.click();
            }
        }

        if (e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)) {
            if (typeof (searchPhabrico) !== "undefined" && document.activeElement == searchPhabrico) return;
            if (document.activeElement == textarea) return;

            e.preventDefault();

            document.querySelector('.phabrico-page-content').classList.toggle('right-collapsed');
        }
    }
</script>