<div id="crumbsContainer" class="crumbs">
    <a href="/w/">
        <span class="phui-font-fa fa-book" style="padding-right: 5px;"></span>
    </a>
</div>

<script>
    window.addEventListener('load', function() {
        phabrico.crumbsHeader = new CrumbsHeader(crumbsContainer, 'Phriction', @@DOCUMENT-CRUMBS@@);
    }, false);
</script>

<div class="phui-document" style="width: calc(100vw - 60px); left: 0px; text-align: center;height: calc(100vh - 160px);">
    <h1>Page Not Found</h1>
    <div class="phui-document-create-message">
        <span class="phui-font-fa fa-book" style="font-size:48px"></span>
        <h2>No Document Here</h2>
        <div>There is no document here, but you may create it.</div>
        <p>&nbsp;</p>
        <button class="button-green" name="__synchronize__" type="button" onclick="window.location.href='?action=new&title=' + encodeURIComponent(crumbsContainer.lastElementChild.innerText);">Create this Document</button>
    </div>
</div>