<script>
@{IF @@AUTO-CLOSE-PHRICTION-APPSIDE-WINDOW@@=yes@
    localStorage["phabrico-page-content-collapsed"] = "1";
    if (typeof (phabrico) != 'undefined' && typeof (phabrico.appSideWindow) != 'undefined') {
        phabrico.appSideWindow.Collapse();
    }
}@
</script>

<div id="crumbsContainer" class="crumbs">
    <a href="w/" tabindex="-1">
        <span class="phui-font-fa fa-book" style="padding-right: 5px;">&#x200B;</span>
    </a>
@{IF @@ACCESS-READONLY@@=False@
    @{IF @@HIDE-NEW-DOCUMENT-ACTION@@=no@
        <a id="actionNewDocument" class="crumbsAction" href="?action=new">
            <span class="visual-only phui-icon-view phui-font-fa fa-plus-square"></span>
            <span class="phui-crumbs-action-name">New Document</span>
        </a>
    }@
}@
</div>

@{IF @@SHOW-SIDE-WINDOW@@=yes@
    <div id="disablePrintableView" style="display:none;" class="fa fa-undo no-print" title="Return to web view" onclick="printable(false);">
    </div>
}@

<script>
    window.addEventListener('load', function() {
        phabrico.crumbsHeader = new CrumbsHeader(crumbsContainer, 'Phriction', @@DOCUMENT-CRUMBS@@);
        @{IF @@HIDE-PHRICTION-IN-CRUMBS@@=True@
            if (crumbsContainer.children.length <= 3) {
                crumbsContainer.style.display = 'none';
                document.querySelector('.phui-document').style.top = '44px';
                document.querySelector('.toc').style.top = '44px';
                document.querySelector('.phabrico-page-content').classList.add('no-crumbs');
            } else {
                crumbsContainer.removeChild(crumbsContainer.children[2]);
                crumbsContainer.removeChild(crumbsContainer.children[1]);
            }
        }@
    }, false);
</script>

<div class="phui-document">
    <h1><span id="documentState" class="@@DOCUMENT-STATE@@ @@UNREVIEWED-TRANSLATION@@"></span>@@DOCUMENT-TITLE@@</h1>
    <div style="display: flex;flex-direction: column;">
        <div id="remarkupContent" class="content remarkupContent">@@DOCUMENT-CONTENT@@</div>
        @@DOCUMENT-HIERARCHY@@
    </div>
    <div class="toc">
        <a class="phui-document-toc-header" href="#top">Contents</a>
        <div>
            <ul id="phui-navigator" class="no-print">
            </ul>
        </div>
    </div>

    <div id="dlgOK" class="aphront-dialog-view modalview" style="display:none;position: fixed; width: 600px; top: 90px; left: calc(50vw - 300px); z-index: 5;">
        <div class="aphront-dialog-overlay"></div>
        <div class="aphront-dialog-head">
            <span class="phui-header-header title"></span>
        </div>
        <div class="aphront-dialog-body phabrico-remarkup">
            <div class="phabrico-remarkup">
                <p class="message"></p>
            </div>
            <br>
        </div>
        <div class="aphront-dialog-tail grouped" style="text-align: right;">
            <a href="#" class="button button-blue ok">OK</a>
        </div>
    </div>
</div>

@{IF @@SHOW-SIDE-WINDOW@@=yes@
    <div class="expandcollapse">
        <span onclick="phabrico.appSideWindow.Collapse();" class="phui-font-fa fa-chevron-right">&nbsp;</span>
        <span onclick="phabrico.appSideWindow.Expand();" class="phui-font-fa fa-chevron-left">&nbsp;</span>
    </div>

    <div class="app-side-window phriction" onmouseleave="autoCloseAppSideWindow();">
        <div class="app-window-body" tabindex="-1">
            <ul class="list-view">
                @{IF @@ACCESS-READONLY@@=False@
                    <li class="list-item-view">
                        @{IF @@CONTENT-IS-TRANSLATION@@=no@
                            <a href="?action=edit" class="list-item-href edit" data-keyboard-shortcut="CTRL+E">
                                <span class="phui-font-fa fa-pencil phui-list-item-icon">
                                    <span class="phui-list-item-name">Edit Document</span>
                                </span>
                            </a>
                        }@
                        @{ELSE
                            <a href="?action=translate" class="list-item-href edit" data-keyboard-shortcut="CTRL+E">
                                <span class="phui-font-fa fa-pencil phui-list-item-icon">
                                    <span class="phui-list-item-name">Edit translation</span>
                                </span>
                            </a>
                        }@
                    </li>
                }@
                @{IF @@ACCESS-MASTER-DATA@@=True@
                    <li class="list-item-view">
                        <a id="actionViewPhabricatorDocument" class="list-item-href">
                            <span class="phui-font-fa fa-institution phui-list-item-icon">
                                <span class="phui-list-item-name">View Document on Phabricator</span>
                            </span>
                        </a>
                    </li>
                }@
                @{IF @@ACCESS-HIDE-PHRICTION-CHANGES@@=False@
                <li id="actionViewLocalChanges" data-document-state="@@DOCUMENT-STATE@@" class="list-item-view">
                    <a href="offline/changes/view/@@DOCUMENT-TOKEN@@/" class="list-item-href">
                        <span class="compare phui-list-item-icon">
                            <span class="phui-list-item-name">View local changes</span>
                        </span>
                    </a>
                </li>
                <li id="actionUndoLocalChanges" data-document-state="@@DOCUMENT-STATE@@" class="list-item-view">
                    <a href="#@@DOCUMENT-TOKEN@@[edit]" class="list-item-href" onclick="showUndoConfirmation(this,event);">
                        <span class="phui-font-fa fa-times phui-list-item-icon">
                            <span class="phui-list-item-name">Dismiss local changes</span>
                        </span>
                    </a>
                </li>
                }@
                <li class="list-item-view">
                    <a href="javascript:printable(true)" class="list-item-href">
                        <span class="phui-font-fa fa-print phui-list-item-icon">
                            <span class="phui-list-item-name">Printable Page</span>
                        </span>
                    </a>
                </li>
@{IF @@ACCESS-HIDE-PHRICTION-FAVORITES@@=False@
    @{IF @@IS-MEMBER-OF-FAVORITES@@=no@
                <li class="list-item-view">
                    <a href="#" class="list-item-href" onclick="addToFavorites();">
                        <span class="phui-font-fa fa-heart phui-list-item-icon">
                            <span class="phui-list-item-name">Add to favorites</span>
                        </span>
                    </a>
                </li>
    }@
    @{IF @@IS-MEMBER-OF-FAVORITES@@=yes@
                <li class="list-item-view" style="height:20px; margin: 2px 0.5px;">
                    <a href="#" class="list-item-href" onclick="removeFromFavorites();">
                        <span class="phui-font-fa fa-heart fa-stack-2x phui-list-item-icon" style="font-size: 100%;"></span>
                        <span class="phui-font-fa fa-flash fa-stack-1x phui-list-item-icon" style="color:var(--aphront-dialog-view-background-color);"></span>
                        <span class="phui-list-item-name" style="font-size: 1em; margin: -2px 13px;">Remove from favorites</span>
                    </a>
                </li>
    }@
}@
@{IF @@HAS-REFERENCES@@=yes@
                <li class="list-item-view">
                    <a href="#" class="list-item-href" onclick="showReferences();">
                        <span class="phui-font-fa fa-external-link phui-list-item-icon">
                            <span class="phui-list-item-name">Show references</span>
                        </span>
                    </a>
                </li>
}@
@{IF @@SHOW-ALL-UNREVIEWED-TRANSLATIONS@@=yes@
                <li class="plugin-action list-item-separator"></li>
}@
@{IF @@SHOW-APPROVE-TRANSLATION@@=yes@
                <li class="list-item-view">
                    <a href="#" class="list-item-href" onclick="approveTranslation();">
                        <span class="phui-font-fa fa-check phui-list-item-icon">
                            <span class="phui-list-item-name">Approve translation</span>
                        </span>
                    </a>
                </li>
}@
@{IF @@SHOW-ALL-UNREVIEWED-TRANSLATIONS@@=yes@
                <li class="list-item-view">
                    <a href="translations/unreviewed" class="list-item-href review-translation">
                        <span class="phui-font-fa phui-list-item-icon">
                            <span class="phui-list-item-name">Unreviewed translations
                                <span style="" class="navigator-menuitem-notification information unreviewed-translations-count">@@NUMBER-UNREVIEWED-TRANSLATIONS@@</span>
                            </span>
                        </span>
                    </a>
                </li>
}@

@{PHRICTION-PLUGINS
                <li class="plugin-action list-item-separator"></li>
                <li class="plugin-action list-item-view" style="height:20px; margin: 2px 0.5px;">
                    <a href="#" class="list-item-href" data-keyboard-shortcut="@@PHRICTION-PLUGIN-KEYBOARD-SHORTCUT@@" onclick='executePhrictionPlugin("@@PHRICTION-PLUGIN-NAME@@", "@@PHRICTION-PLUGIN-URL@@");'>
                        <span class="phui-font-fa @@PHRICTION-PLUGIN-ICON@@ phui-list-item-icon">
                            <span class="phui-list-item-name" style="font-size: 1em;">@@PHRICTION-PLUGIN-NAME@@</span>
                        </span>
                    </a>
                </li>
}@

<!--
commented out because of shortcoming in phriction.content.search Conduit API
dateModified won't change when a subscription is added or removed
                <li class="list-item-view">
                    <a href="#" class="list-item-href" onclick="subscribe();">
                        <span class="phui-font-fa fa-plus-circle phui-list-item-icon">
                            <span class="phui-list-item-name">Subscribe</span>
                        </span>
                    </a>
                </li>
-->
@{IF @@SHOW-PHRICTION-METADATA@@=yes@
                <li class="list-item-separator"></li>
                <li class="list-item-view no-hover">
                    <span class="list-item-head">Last modified at</span>
                </li>
                <li class="list-item-view list-item-link" style="white-space: normal;">
                    @@DOCUMENT-DATE@@
                </li>

                @{IF @@ACCESS-HIDE-USERS@@=False@
                    <li class="list-item-separator"></li>
                    <li class="list-item-view no-hover">
                        <span class="list-item-head">Last modified by</span>
                    </li>
                    <li class="list-item-view list-item-link" style="white-space: normal;">
                        @@DOCUMENT-LAST-MODIFIED-BY@@
                    </li>
                }@

                @{IF @@ACCESS-HIDE-PROJECTS@@=False@
                    <li class="list-item-separator"></li>

                    <li class="list-item-view no-hover">
                        <span class="list-item-head">Tags</span>
                    </li>
                    @{IF @@PROJECTS-ASSIGNED@@=yes@
                        @{PROJECTS
                        <li class="list-item-view maniphest-list-item-project">
                            <a class="project-reference phui-font-fa fa-briefcase" href="project/info/@@DOCUMENT-PROJECT-TOKEN@@/" style="@@DOCUMENT-PROJECT-STYLE@@">@@DOCUMENT-PROJECT-NAME@@</a>
                        </li>
                        }@
                    }@
                    @{IF @@PROJECTS-ASSIGNED@@=no@
                        <li class="list-item-view maniphest-list-item-project">No projects assigned</li>
                    }@
                }@

                @{IF @@ACCESS-HIDE-USERS@@=False@
                    <li class="list-item-separator"></li>

                    <li class="list-item-view no-hover">
                        <span class="list-item-head">Subscribers</span>
                    </li>
                    @{SUBSCRIBERS
                    <li class="list-item-view list-item-link">
                        <a href="user/info/@@DOCUMENT-SUBSCRIBER-TOKEN@@/">@@DOCUMENT-SUBSCRIBER-NAME@@</a>
                    </li>
                    }@
                }@
}@
            </ul>
        </div>
    </div>

    <div class="phriction-references" style="top: 30px;position:  absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999; display:none;">
        <div class="aphront-dialog-overlay" style="transform: scale(200%,200%);"></div>
        <div class="aphront-dialog-head">
            <span class="phui-header-header" style="margin-right: 15px;">References</span>
        </div>
        <div class="aphront-dialog-body phabrico-remarkup" style="min-height: 100px;">
            <div class="aphront-dialog-full-width" style="display: flex;flex-flow: column;">
                @{REFERENCES
                <a href="@@REFERENCE-URL@@">@@REFERENCE-TEXT@@</a>
                }@
            </div>
        </div>
        <div class="aphront-dialog-tail">
            <button class="button-blue" id="btnReferencesClose" type="button" style="cursor: pointer;" onclick="hideReferences()">OK</button>
        </div>
    </div>

    <form id="frmPhriction" action="" method="POST">
        <input name="item" type="hidden" value="@@DOCUMENT-TOKEN@@" />
        <div id="dlgConfirmUndo" class="aphront-dialog-view modal" style="display:none">
            <div class="aphront-dialog-overlay"></div>
            <div class="aphront-dialog-head">
                <span class="phui-header-header">Undo</span>
            </div>
            <div class="aphront-dialog-body phabrico-remarkup">
                <div class="phabrico-remarkup">
                    <p>@@DOCUMENT-CONFIRMATION-UNDO-LOCAL-CHANGES@@</p>
                    <p>&nbsp;</p>
                    <p id="dlgConfirmUndoDetail" style="text-align: center;font-weight:bold;">@@DOCUMENT-TITLE@@</p>
                </div>
                <br />
            </div>
            <div class="aphront-dialog-tail grouped">
                <button type="button" data-accesskey="Button-AccessKey-No" class="button-gray" onclick="cancelUndo()">No</button>
                <button type="button" data-accesskey="Button-AccessKey-Yes" onclick="confirmUndo()">Yes</button>
            </div>
        </div>
    </form>
}@

<div id="pluginTableData" class="scrollableTable" style="height:calc(100vh - 105px); margin-top: 40px;padding: 10px; display:none;">
</div>

<script>
        function addToFavorites()
        {
            doAddToFavorites(true);
        }

        function removeFromFavorites()
        {
            doAddToFavorites(false);
        }

        function doAddToFavorites(yes)
        {
            var data = new FormData();
            data.append('token', '@@DOCUMENT-TOKEN@@');

            var addToFavoritesRequest = new XMLHttpRequest();
            addToFavoritesRequest.onreadystatechange = function() {
                if (addToFavoritesRequest.readyState == 4 && addToFavoritesRequest.status == 200) {
                    document.location.reload();
                }
            };

            if (yes)
            {
               addToFavoritesRequest.open('POST', 'phriction/addToFavorites', true);
            }
            else
            {
                addToFavoritesRequest.open('POST', 'phriction/removeFromFavorites', true);
            }
            addToFavoritesRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            addToFavoritesRequest.send(data);
        }

        function approveTranslation() {
            showHideConfirmationMessage( true, Locale.Translate("Approve translation"), Locale.Translate("Are you sure you want to approve this translation?"),
                                            function() {
                                                showHideConfirmationMessage(false);

                                                var data = new FormData();
                                                data.append('token', '@@DOCUMENT-TOKEN@@');

                                                var xmlRequest = new XMLHttpRequest();
                                                xmlRequest.onreadystatechange = function() {
                                                    if (xmlRequest.readyState == 4 && xmlRequest.status == 200) {
                                                        var jsonResponse = JSON.parse(xmlRequest.responseText);

                                                        if (typeof jsonResponse.SetFormVariables != 'undefined') {
                                                            for (var variableName in jsonResponse.SetFormVariables) {
                                                                data.delete(variableName);
                                                                data.append(variableName, jsonResponse.SetFormVariables[variableName]);
                                                            }
                                                        }

                                                        if (jsonResponse.Status == 'OK') {
                                                            document.location.reload();
                                                            return;
                                                        }
                                                        if (jsonResponse.Status == 'MasterDataModified') {
                                                            showHideMessageDialog(true, Locale.Translate('ERROR'), jsonResponse.Message);
                                                            return;
                                                        }
                                                    }
                                                };

                                                xmlRequest.open('POST', 'translations/approve', true);
                                                xmlRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
                                                xmlRequest.send(data);
                                            },
                                            function() {
                                                showHideConfirmationMessage(false);
                                            },
                                            null
                                        );
        }

        function autoCloseAppSideWindow() {
            @{IF @@AUTO-CLOSE-PHRICTION-APPSIDE-WINDOW@@=yes@
                phabrico.appSideWindow.Collapse();
            }@
        }
        
        function initializePhrictionPluginFormData() {
            var data = new FormData();

            // get content
            var div = document.createElement('div');
            div.innerHTML = remarkupContent.innerHTML;
            var hierarchy = div.querySelector('.phui-document-hierarchy-border');
            if (hierarchy != null) hierarchy.parentElement.removeChild(hierarchy)
            data.append('content', div.innerHTML);
            data.append('confirm', 'None');
            data.append('isPrepared', 'false');

            // get toc
            var toc = document.querySelector('.toc');
            if (toc != null) {
                toc = toc.innerHTML;
            }
            data.append('toc', toc);

            // get crumbs
            var crumbs = Array.prototype.slice.call(
                                    document.querySelectorAll('#crumbsContainer a:not(.crumbsAction)'), 1
                               );
            var crumbAddress = crumbs.map(function(a) {
                return a.innerText;
            })
                               .join(' > ');
            data.append('crumbs', crumbAddress);

            // get path
            var path = crumbs[crumbs.length - 1].pathname;
            path = path.replace('//', '/');
            var rootPath = document.baseURI.replace(/^http.?:\/\/[^\/]+/, "");
            data.append('path', path.substring((rootPath + 'w/').length));

            return data;
        }

        function executePhrictionPlugin(pluginName, pluginURL, data) {
            var xmlhttp = new XMLHttpRequest();

            if (data == null) {
                data = initializePhrictionPluginFormData();
            }

            document.querySelector('div.wait').style.display = 'block';

            xmlhttp.onreadystatechange = function() {
                if(xmlhttp.readyState == 4)
                {
                    var jsonResponse = JSON.parse(xmlhttp.responseText);

                    document.querySelector('div.wait').style.display = 'none';

                    if (typeof jsonResponse.SetFormVariables != 'undefined') {
                        for (var variableName in jsonResponse.SetFormVariables) {
                            data.delete(variableName);
                            data.append(variableName, jsonResponse.SetFormVariables[variableName]);
                        }
                    }

                    if (jsonResponse.Status == 'Confirm') {
                        showHideConfirmationMessage( true, pluginName, jsonResponse.Message,
                                                        function() {
                                                            if (typeof jsonResponse.ResponseTarget != 'undefined') {
                                                                data.delete(jsonResponse.ResponseTarget);
                                                                data.append(jsonResponse.ResponseTarget, 'Yes');
                                                            }

                                                            showHideConfirmationMessage(false);
                                                            executePhrictionPluginConfirmed(document.baseURI + pluginURL, data, true);
                                                        },
                                                        function() {
                                                            if (typeof jsonResponse.ResponseTarget != 'undefined') {
                                                                data.delete(jsonResponse.ResponseTarget);
                                                                data.append(jsonResponse.ResponseTarget, 'No');
                                                            }

                                                            showHideConfirmationMessage(false);
                                                            executePhrictionPluginConfirmed(document.baseURI + pluginURL, data, false);
                                                        },
                                                        function() {
                                                            showHideConfirmationMessage(false);
                                                        }
                                                    );
                    }

                    if (jsonResponse.Status == 'Prepare') {
                        showHideParametersDialog(true, data, jsonResponse.DialogTitle, pluginName, pluginURL, jsonResponse);
                    }

                    if (jsonResponse.Status == 'Redirect') {
                        document.location.href = jsonResponse.URL;
                    }

                    if (jsonResponse.Status == 'Finished') {
                        showHideConfirmationMessage(false);
                        processFinishedPluginState(jsonResponse);
                    }
                }
            }
            xmlhttp.open('POST', pluginURL, true);
            xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            xmlhttp.send(data);
        }

        function executePhrictionPluginConfirmed(url, data, confirmed) {
            data.set('isPrepared', 'true');
            if (confirmed) {
                data.set('confirm', 'Yes');
            } else {
                data.set('confirm', 'No');
            }

            document.querySelector('div.wait').style.display = 'block';

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if(xmlhttp.readyState == 4)
                {
                    var jsonResponse = JSON.parse(xmlhttp.responseText);

                    if (typeof jsonResponse.SetFormVariables != 'undefined') {
                        for (var variableName in jsonResponse.SetFormVariables) {
                            data.delete(variableName);
                            data.append(variableName, jsonResponse.SetFormVariables[variableName]);
                        }
                    }

                    if (jsonResponse.Status == 'Finished') {
                        processFinishedPluginState(jsonResponse);

                        document.querySelector('div.wait').style.display = 'none';
                    }
                }
            };

            xmlhttp.open('POST', url, true);
            xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            xmlhttp.send(data);
        }

        function processFinishedPluginState(jsonResponse) {
            if (typeof jsonResponse.Base64Data !== 'undefined'  &&  typeof jsonResponse.ContentType !== 'undefined'  &&  typeof jsonResponse.FileName !== 'undefined') {
                var a = document.createElement('a');
                a.download = jsonResponse.FileName;
                a.href = "data:" + jsonResponse.ContentType + ";base64," + jsonResponse.Base64Data;

                document.body.appendChild(a);
                a.style.display = "none";
                a.click();

                document.body.removeChild(a);
            } else
            if (typeof jsonResponse.TableData !== 'undefined') {
                var table = document.createElement('table');
                table.style.tableLayout = "fixed";
                table.classList.add("aphront-table-view");

                var thead = document.createElement('thead');
                table.appendChild(thead);

                var tbody = document.createElement('tbody');
                table.appendChild(tbody);

                var tableRow = document.createElement('tr');
                thead.appendChild(tableRow);

                jsonResponse.TableData.Header.forEach(function(header) {
                    var tableCell = document.createElement('th');
                    tableCell.innerText = header;
                    tableRow.appendChild(tableCell);
                });

                jsonResponse.TableData.Data.forEach(function(record) {
                    var tableRow = document.createElement('tr');
                    tableRow.classList.add("alternate");
                    tbody.appendChild(tableRow);

                    record.forEach(function(html) {
                        var tableCell = document.createElement('td');
                        tableCell.innerHTML = html;
                        tableRow.appendChild(tableCell);
                    });
                });

                pluginTableData.appendChild(table);

                actionNewDocument.style.display = 'none';
                document.querySelector('div.phui-document').style.display = 'none';
                document.querySelector('div.expandcollapse').style.display = 'none';
                document.querySelector('div.phriction.app-side-window').style.display = 'none';
                pluginTableData.style.display = 'block';
            } else
            if (typeof jsonResponse.MessageBox !== 'undefined') {
                var title = "";
                if (typeof jsonResponse.MessageBox.Title !== 'undefined') {
                    title = jsonResponse.MessageBox.Title;
                }
                if (typeof jsonResponse.MessageBox.Message !== 'undefined') {
                    message = jsonResponse.MessageBox.Message;

                    dlgOK.querySelector('.title').innerText = title;
                    dlgOK.querySelector('.message').innerText = message;
                    dlgOK.style.display = 'block';

                    var btnOK = dlgOK.querySelector('a.ok');
                    btnOK.onclick = function() {
                        dlgOK.style.display = 'none';
                        document.location.reload();
                        return false;
                    }
                    btnOK.focus();
                }
            } else {
                document.location.reload();
            }

            if (typeof jsonResponse.URL !== 'undefined' && jsonResponse.URL != null) {
                var tempURL = document.createElement('a');
                tempURL.href = 'translation/file/' + jsonResponse.URL;
                document.body.appendChild(tempURL);
                tempURL.click();
                document.body.removeChild(tempURL);
            }
        }

        function executePhrictionPluginPrepared(pluginName, pluginURL, data) {
            data.set('isPrepared', 'true');

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if(xmlhttp.readyState == 4)
                {
                    document.querySelector('div.wait').style.display = 'none';

                    var jsonResponse = JSON.parse(xmlhttp.responseText);

                    if (typeof jsonResponse.SetFormVariables != 'undefined') {
                        for (var variableName in jsonResponse.SetFormVariables) {
                            data.delete(variableName);
                            data.append(variableName, jsonResponse.SetFormVariables[variableName]);
                        }
                    }

                    if (jsonResponse.Status == 'Finished') {
                        processFinishedPluginState(jsonResponse);
                    }
                    else if (jsonResponse.Status == 'Confirm') {
                        showHideConfirmationMessage( true, pluginName, jsonResponse.Message,
                                                        function() {
                                                            showHideConfirmationMessage(false);

                                                            if (typeof jsonResponse.ResponseTarget != 'undefined') {
                                                                data.delete(jsonResponse.ResponseTarget);
                                                                data.append(jsonResponse.ResponseTarget, 'Yes');
                                                            }

                                                            data.delete('confirm');
                                                            data.append('confirm', 'Yes');
                                                            executePhrictionPlugin(pluginName, pluginURL, data);
                                                        },
                                                        function() {
                                                            showHideConfirmationMessage(false);

                                                            if (typeof jsonResponse.ResponseTarget != 'undefined') {
                                                                data.delete(jsonResponse.ResponseTarget);
                                                                data.append(jsonResponse.ResponseTarget, 'No');
                                                            }

                                                            if (jsonResponse.AbortWhenDeclined != true) {
                                                                data.delete('confirm');
                                                                data.append('confirm', 'No');
                                                                executePhrictionPlugin(pluginName, pluginURL, data);
                                                            }
                                                        }
                                                    );
                    } else {
                        executePhrictionPlugin(pluginName, pluginURL, data);
                    }
                }
            };

            xmlhttp.open('POST', pluginURL, true);
            xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            xmlhttp.send(data);

            showHideParametersDialog(false, data);
            document.querySelector('div.wait').style.display = 'block';
        }

        function onRequiredParameter(btnOK, allRequiredParameters, lastModifiedParameter) {
            var requiredParameterMissing = Array.prototype.slice.call( document.querySelectorAll('.required'), 0 )
                                                .map(function(p) {
                                                   if (p.getClientRects().length == 0) return true;  // invisible
                                                   return (p.tagName == 'SELECT' && p.value != "")
                                                       || (p.tagName == 'INPUT' && p.value != "")
                                           }).filter(function(v) {
                                                  return v == false;
                                           }).length > 0;
            btnOK.disabled = requiredParameterMissing;
            if (typeof btnImportFile != 'undefined') {
                btnImportFile.disabled = requiredParameterMissing;
            }
        }

        function showHideParametersDialog(show, data, dialogTitle, pluginName, pluginURL, jsonResponse)
        {
            if (show) {
                var form = document.createElement("form");
                form.method = "POST";
                form.action = "/" + pluginURL;
                form.className = "preparationParameters aphront-dialog-view modal";
                var overlay = document.createElement("div")
                overlay.className = "aphront-dialog-overlay";
                var dialogHeader = document.createElement("div");
                dialogHeader.className = "aphront-dialog-head";
                var dialogHeaderText = document.createElement("span");
                dialogHeaderText.className = "phui-header-header";
                dialogHeaderText.innerText = typeof dialogTitle != "undefined" ? dialogTitle : Locale.Translate("Parameters");
                var dialogBody = document.createElement("div");
                dialogBody.className = "aphront-dialog-body phabrico-remarkup";
                dialogBody.innerHTML = jsonResponse.DialogHTML;
                dialogBody.querySelectorAll('input[type="text"]').forEach(function (elem) {
                    if (elem.onkeydown == null) {
                        elem.onkeydown = function (e) {
                            if (e.keyCode == 13) {
                                document.querySelector('#btnOK').click();
                            }
                        }
                    }
                })
                var dialogButtons = document.createElement("div");
                dialogButtons.className = "aphront-dialog-tail grouped";
                var btnCancel = document.createElement("button");
                btnCancel.type = "button";
                btnCancel.innerText = Locale.Translate("Cancel");
                btnCancel.className = "button-gray";
                btnCancel.addEventListener("click", function(e) {
                    showHideParametersDialog(false);
                });
                var btnOK = document.createElement("button");
                btnOK.id = "btnOK";
                if (typeof jsonResponse.Buttons != 'undefined' && typeof jsonResponse.Buttons.OK != 'undefined') {
                    if (typeof jsonResponse.Buttons.OK.Text != 'undefined') {
                        btnOK.innerText = jsonResponse.Buttons.OK.Text;
                    } else {
                        btnOK.innerText = Locale.Translate("OK");
                    }

                    btnOK.dataset.Text = btnOK.innerText;

                    if (typeof jsonResponse.Buttons.OK.ExportFileText != 'undefined') {
                        btnOK.dataset.ExportFileText = jsonResponse.Buttons.OK.ExportFileText;
                    } else {
                        btnOK.dataset.ExportFileText = btnOK.innerText;
                    }
                }
                else {
                    btnOK.innerText = Locale.Translate("OK");
                }
                btnOK.type = "button";
                btnOK.addEventListener("click", function(e) {
                    data.set('isPrepared', 'true');

                    var parameters = Array.prototype.slice.call( document.querySelector('.preparationParameters ').elements, 0)
                                                          .filter(function(elem) {
                                                              return elem.name != "";
                                                          })
                                                          .map(function(elem) {
                                                              return {
                                                                  "name": elem.name,
                                                                  "value": elem.value
                                                              };
                                                          })
                                                          .map(function(parameter) {
                                                              var label = document.querySelector('label[for="' + parameter.name + '"]');
                                                              if (label != null) {
                                                                  return {
                                                                      "name": label.innerText,
                                                                      "value": parameter.value
                                                                  };
                                                              } else {
                                                                  return parameter;
                                                              }
                                                          });

                    parameters.forEach(parameter => {
                        data.set(parameter.name, parameter.value);
                    });

                    executePhrictionPluginPrepared(pluginName, pluginURL, data);
                });

                var btnImportFile = null;
                if (typeof jsonResponse.Buttons != 'undefined' && typeof jsonResponse.Buttons.ImportFile != 'undefined' && typeof jsonResponse.Buttons.ImportFile.URL != 'undefined') {
                    btnImportFile = document.createElement("button");
                    btnImportFile.id = "btnImportFile";

                    var inputImportFile = document.body.querySelector("#inputImportFile");
                    if (inputImportFile == null) {
                        inputImportFile = document.createElement("input");
                        inputImportFile.id = "inputImportFile";
                        inputImportFile.type = "file";
                        inputImportFile.style.positiion = "absolute";
                        inputImportFile.style.top = "-100%";
                        inputImportFile.onchange = function (e) {
                            const reader = new FileReader();
                            reader.readAsDataURL(inputImportFile.files[0]);

                            reader.onload = function (e) {
                                var data = new FormData();
                                data.append('file-data', reader.result);
                                data.append('document-token', '@@DOCUMENT-TOKEN@@')

                                Array.prototype.slice.call(document.querySelectorAll('tr'), 0)
                                    .filter(function (e) {
                                        return e.id.startsWith('param');
                                    }).map(function (tr) {
                                        return {
                                            name: tr.querySelector('input,select').name,
                                            value: tr.querySelector('input,select').value
                                        }
                                    }).forEach(function (param) {
                                        data.append(param.name, param.value)
                                    });

                                var xmlRequest = new XMLHttpRequest();
                                xmlRequest.onreadystatechange = function () {
                                    if (xmlRequest.readyState == 4 && xmlRequest.status == 200) {
                                        var jsonResponse = JSON.parse(xmlRequest.responseText);

                                        document.querySelector('div.wait').style.display = 'none';

                                        if (jsonResponse.Status == 'Finished') {
                                            if (typeof jsonResponse.MessageBox !== 'undefined') {
                                                var title = "";
                                                if (typeof jsonResponse.MessageBox.Title !== 'undefined') {
                                                    title = jsonResponse.MessageBox.Title;
                                                }
                                                if (typeof jsonResponse.MessageBox.Message !== 'undefined') {
                                                    message = jsonResponse.MessageBox.Message;

                                                    dlgOK.querySelector('.title').innerText = title;
                                                    dlgOK.querySelector('.message').innerText = message;
                                                    dlgOK.style.display = 'block';

                                                    var btnOK = dlgOK.querySelector('a.ok');
                                                    btnOK.onclick = function () {
                                                        dlgOK.style.display = 'none';
                                                        document.location.reload();
                                                        return false;
                                                    }
                                                    btnOK.focus();
                                                }
                                            }
                                        }
                                    }
                                };

                                xmlRequest.open('POST', jsonResponse.Buttons.ImportFile.URL, true);
                                xmlRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
                                xmlRequest.send(data);

                                showHideParametersDialog(false);
                                document.querySelector('div.wait').style.display = 'block';
                            }
                        }
                        document.body.appendChild(inputImportFile);
                    }

                    if (typeof jsonResponse.Buttons.ImportFile.Text != 'undefined') {
                        btnImportFile.innerText = jsonResponse.Buttons.ImportFile.Text;
                    } else {
                        btnImportFile.innerText = "...";
                    }

                    btnImportFile.onclick = function (e) {
                        inputImportFile.click();;

                        e.preventDefault();
                        return false;
                    }
                }

                form.appendChild(overlay);
                form.appendChild(dialogHeader);
                form.appendChild(dialogBody);
                form.appendChild(dialogButtons);
                dialogHeader.appendChild(dialogHeaderText);
                dialogButtons.appendChild(btnCancel);
                dialogButtons.appendChild(btnOK);
                if (btnImportFile != null) {
                    dialogButtons.appendChild(btnImportFile);
                }

                if (typeof jsonResponse.Javascript != 'undefined') {
                    var scriptTag = document.createElement('script');
                    scriptTag.text = jsonResponse.Javascript;

                    form.appendChild(scriptTag);
                }

                document.body.appendChild(form);

                dialogBody.querySelectorAll('.required').forEach(function(parameter) {
                    if (parameter.tagName == 'INPUT') {
                        parameter.addEventListener('input', function(e) {
                            onRequiredParameter(btnOK, dialogBody.querySelectorAll('.required'), parameter);
                        });
                    }

                    if (parameter.tagName == 'SELECT') {
                        parameter.addEventListener('change', function(e) {
                            onRequiredParameter(btnOK, dialogBody.querySelectorAll('.required'), parameter);
                        });
                    }
                });

                if (typeof jsonResponse.Javascript == 'undefined') {
                    var firstInputElement = dialogBody.querySelector('select,input[type="text"]');
                    if (firstInputElement != null) {
                        firstInputElement.focus();
                    }
                }

                // center dialog
                var dialogWidth = form.getBoundingClientRect().width;
                var screenWidth = document.body.getBoundingClientRect().width;
                form.style.left = ((parseInt(screenWidth) - parseInt(dialogWidth)) / 2) + "px";
                form.style.marginLeft = "0px";

                var dialogHeight = form.getBoundingClientRect().height;
                var screenHeight = document.body.getBoundingClientRect().height;
                form.style.top = ((parseInt(screenHeight) - parseInt(dialogHeight)) / 2) + "px";
                form.style.marginTop = "0px";

                onRequiredParameter(btnOK, dialogBody.querySelectorAll('.required'), null);
            } else {
                var form = document.querySelector("form.preparationParameters");
                if (form != null) {
                    document.body.removeChild(form);
                }
            }
        }
        function subscribe()
        {
            doSubscribe(true);
        }

        function unsubscribe()
        {
            doSubscribe(false);
        }

        function doSubscribe(yes)
        {
            var data = new FormData();
            data.append('token', '@@DOCUMENT-TOKEN@@');

            var subscribeRequest = new XMLHttpRequest();
            subscribeRequest.onreadystatechange = function() {
                if (subscribeRequest.readyState == 4 && subscribeRequest.status == 200) {
                    try
                    {
                        var jsonResponse = JSON.parse(subscribeRequest.responseText);
                    }
                    catch(exc)
                    {
                        // response should be JSON; if it's something else (e.g. HTML), load homepage
                        document.location = "/";
                    }
                }
            };

            if (yes)
            {
               subscribeRequest.open('POST', 'phriction/subscribe', true);
            }
            else
            {
                subscribeRequest.open('POST', 'phriction/unsubscribe', true);
            }
            subscribeRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            subscribeRequest.send(data);
        }

@{IF @@SHOW-SIDE-WINDOW@@=yes@
        function cancelUndo()
        {
           dlgConfirmUndo.style.display = 'none';
        }

        function confirmUndo()
        {
           dlgConfirmUndo.style.display = 'none';

           var elem = dlgConfirmUndo.tagElement;
           submitItem(elem, "offline/changes/undo");
        }

        function hideReferences()
        {
            document.querySelector('.phriction-references').style.display = 'none';
        }

        function printable(usePrinter)
        {
            headerBar.style.display = usePrinter ? 'none' : 'block';
            disablePrintableView.style.display = usePrinter ? 'block' : 'none';
            popSearchResults.style.display = usePrinter ? 'none' : 'block';
            crumbsContainer.style.display = usePrinter ? 'none' : 'block';
            documentState.style.display = usePrinter ? 'none' : 'block';

            Array.prototype.slice.call( document.getElementsByClassName('expandcollapse'), 0)
                 .map( function(item) {
                    item.style.display = usePrinter ? 'none' : 'block';
                 }
            );
            Array.prototype.slice.call( document.getElementsByClassName('app-side-window'), 0)
                 .map( function(item) {
                    item.style.display = usePrinter ? 'none' : 'block';
                 }
            );
            Array.prototype.slice.call( document.getElementsByClassName('phui-document'), 0)
                 .map( function(item) {
                    if (usePrinter) {
                        item.style.left = '0px';
                        item.style.top = '0px';
                        item.style.width = 'calc(100% - 40px)';
                        item.style.padding = '20px';
                    } else {
                        item.style.left = null;
                        item.style.top = null;
                        item.style.width = null;
                        item.style.padding = null;
                    }
                 }
            );
            Array.prototype.slice.call( document.getElementsByClassName('toc'), 0)
                 .map( function(item) {
                    item.style.display = usePrinter ? 'none' : item.dataset.display;
                    if (usePrinter == false && item.dataset.display == 'none') {
                        var doc = document.querySelector('.phui-document');
                        doc.classList.add('no-side-window');
                    }
                 }
            );
        }

        function showReferences()
        {
            document.querySelector('.phriction-references').style.display = 'block';
        }

        function showUndoConfirmation(elem,ev)
        {
           ev.preventDefault();

           dlgConfirmUndo.tagElement = elem;
           dlgConfirmUndo.style.display = 'block';
        }

        function submitItem(item, url)
        {
            setTimeout(function() {
                var elem = frmPhriction.getElementsByTagName('input');
                if (elem.length > 0)
                {
                    elem = elem[0];
                }
                else
                {
                    elem = document.createElement('input');
                    elem.type = "hidden";
                    elem.name = "item";
                    frmPhriction.appendChild(elem);
                }

                elem.value = item.closest('a').hash.substring(1);

                var data = new FormData(frmPhriction);
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if(xmlhttp.readyState == 4)
                    {
                        if ('@@DOCUMENT-STATE@@' === 'created')
                        {
                            // document does not exist anynore -> go to parent document
                            document.location.href = document.location.pathname + "..";
                        }
                        else
                        {
                            document.location.href = document.location.pathname;
                        }
                    }
                }
                xmlhttp.open('POST', url, true);
                xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
                xmlhttp.send(data);
            }, 250);
        }

        function viewLocalChanges(elem)
        {
           submitItem(elem, "offline/changes/view");
        }

        if ('@@DOCUMENT-STATE@@' === 'created')
        {
            documentState.title = Locale.Translate("This newly created page hasn't been uploaded yet to the Phabricator server");
        }
        if ('@@DOCUMENT-STATE@@' === 'frozen' || '@@DOCUMENT-STATE@@' === 'unfrozen')
        {
            documentState.title = Locale.Translate("This modified page hasn't been uploaded yet to the Phabricator server");
        }
        if ('@@DOCUMENT-STATE@@' === 'translated')
        {
            documentState.title = Locale.Translate("This page has been translated but it's translated content hasn't been reviewed yet");
        }

    @{IF @@ACCESS-MASTER-DATA@@=True@
        actionViewPhabricatorDocument.href = "@@PHABRICATOR-URL@@" + document.location.href.substring(document.baseURI.length);
    }@
}@

    // create navigation-tree based on header tags
    var navigationTree = Array.prototype.slice.call(
                                document.querySelector('.phui-document .content')
                                        .querySelectorAll("h1, h2, h3")
                                , 0
                            )
                            .map( function(item) {
                                var anchor = document.location + '#' + item.children[0].name;
                                switch (item.tagName)
                                {
                                    case "H1":
                                        return "<h1><li><a href='" + anchor +"'>" + item.innerText + "</a></li></h1>";
                                    case "H2":
                                        return "<h2><li><a href='" + anchor +"'>" + item.innerText + "</a></li></h2>";
                                    case "H3":
                                        return "<h3><li><a href='" + anchor +"'>" + item.innerText + "</a></li></h3>";
                                    default:
                                        return "";
                                }
                            })
                            .join()
                            .replace(/<\/h1>,<h[23]>/g, '<ul>')
                            .replace(/<\/h2>,<h3>/g, '<ul>')
                            .replace(/<\/h3>,<h2>/g, '</ul>')
                            .replace(/<\/h2>,<h1>/g, '</ul>')
                            .replace(/<\/h3>,<h1>/g, '</ul></ul>')
                            .replace(/<\/h.>,<h.>/g, '')
                            .replace(/<\/?h.>/g, '')
                            .replace(/<ul>/g, '<li><ul>')
                            .replace(/<\/ul>/g, '</ul></li>');

    document.getElementById('phui-navigator').innerHTML = navigationTree;

    // hide 'Contents' label if there's no navigation tree
    var toc = document.querySelector('.toc');
    toc.dataset.display = 'block';
    if (navigationTree == "") {
        toc.style.display = 'none';
        toc.dataset.display = 'none';

        var doc = document.querySelector('.phui-document');
        doc.classList.add('no-side-window');
    }

@{IF @@IS-COVERPAGE@@=yes@
    var toc = document.querySelector('.toc');
    toc.style.display = 'none';
    toc.dataset.display = 'none';

    var doc = document.querySelector('.phui-document');
    doc.classList.add('no-side-window');

    var hierarchyWindow = document.querySelector('.phui-document-hierarchy-border');
    hierarchyWindow.style.width = '100%';
}@

    window.addEventListener('load', function() {
        // set page title
        document.title = fromHTML("@@CUSTOM-APPLICATION-NAME@@") + " - " + fromHTML("@@DOCUMENT-TITLE@@");

        // make sure all images fit on the page during after they have been loaded
        document.querySelectorAll('img')
                .forEach(function(img) {
                    if(img.style.width != '100%' &&
                       parseInt(getComputedStyle(img).width) > parseInt(getComputedStyle(document.body).width) - parseInt(getComputedStyle(toc).width)
                      ) {
                        img.style.maxWidth = '100%';
                    }
                });
    }, false);

    document.onkeydown = function (e) {
        if (e.ctrlKey || e.altKey) {
            var shortcut = "";
            if (e.ctrlKey) shortcut += "CTRL+";
            if (e.altKey) shortcut += "ALT+";
            if (e.shiftKey) shortcut += "SHIFT+";
            shortcut += String.fromCharCode(e.keyCode);

            var actionMenuItem = document.querySelector('.list-item-href[data-keyboard-shortcut="' + shortcut + '"]');
            if (actionMenuItem != null) {
                e.preventDefault();

                actionMenuItem.click();
            }
        }

        if (e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)) {
            if (typeof (searchPhabrico) !== "undefined" && document.activeElement == searchPhabrico) return;

            e.preventDefault();

            document.querySelector('.phabrico-page-content').classList.toggle('right-collapsed');
        }
    }
</script>
