<div class="app-window">
    <div class="synchronization-view">
        <div class="synchronization-head">
            <span>Latest synchronized data</span>
        </div>

        <form id="frmSynchronizationOverview" action="" method="POST">
            <div class="aphront-form-input" style="display: flex;">
                <input id="filterSynchronizationData" type="text" class="full-width" placeholder="Search" oninput="populateTable(this.value)">
            </div>
            <div class="scrollableTable" style="height:calc(100vh - 173px);">
                <table id="tblLatestSynchronizedData" class="aphront-table-view">
                    <thead>
                        <tr>
                            <th class="wide">Content</th>
                            <th class="wide">Last modified by</th>
                            <th class="wide">Last modified at</th>
                            <th class="action" style="text-align:center">Modification</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>

        <div id="no-data-found" style="display:none; margin-left:50%; line-height:50px; position:absolute; top:155px;">
            <span><i>No new data dowloaded from Phabricator</i></span>
        </div>
    </div>
</div>

<div id="dlgConfirmUndo" class="aphront-dialog-view modal" style="display:none">
    <div class="aphront-dialog-overlay"></div>
    <div class="aphront-dialog-head">
        <span class="phui-header-header">Undo</span>
    </div>
    <div class="aphront-dialog-body phabrico-remarkup">
        <div class="phabrico-remarkup">
            <p>Are you sure you want to undo this local change ?</p>
            <p>&nbsp;</p>
            <p id="dlgConfirmUndoDetail" style="text-align: center;font-weight:bold;"></p>
        </div>
        <br />
    </div>
    <div class="aphront-dialog-tail grouped">
        <button type="button" data-accesskey="Button-AccessKey-No" class="button-gray" onclick="cancelUndo()">No</button>
        <button type="button" data-accesskey="Button-AccessKey-Yes" onclick="confirmUndo()">Yes</button>
    </div>
</div>

<script>
populateTable("");

// set page title
document.title = fromHTML("@@CUSTOM-APPLICATION-NAME@@") + " - " + Locale.Translate("Latest synchronized data");

function populateTable(filterText)
{
    var xmlhttp = new XMLHttpRequest();

    var url = document.baseURI + "synchronization/search/" + encodeURI(filterText).split('/').join('%2F');  // encode characters in URL and make sure that all '/' characters are also encoded
    if (url.endsWith('/') == false) url += '/';

    xmlhttp.overrideMimeType("application/json");
    xmlhttp.open('GET', url, true);
    xmlhttp.onload  = function() {
        var tbody = document.querySelector('#tblLatestSynchronizedData tbody');

        document.getElementById('no-data-found').style.display = 'block';

        if (tbody == null) return;
        tbody.innerHTML = "";

        var jsonResponse = JSON.parse(xmlhttp.responseText);
        jsonResponse.forEach(function(record) {
            var tbody = document.querySelector('#tblLatestSynchronizedData tbody');

            // create new row
            var row = tbody.insertRow();
            row.classList.add('alternate');
            document.getElementById('no-data-found').style.display = 'none';

            // add object-icon (maniphest or phriction icon)
            cell = row.insertCell();
            cell.classList.add('wide');
            var anchorURL = document.createElement('a');
            anchorURL.href = record.URL;
            anchorURL.className = "url";
            fontAwesome = document.createElement('i');
            fontAwesome.classList.add('phui-font-fa');
            if (record.Type) {
                fontAwesome.classList.add(record.Type);
            }
            anchorURL.appendChild(fontAwesome);

            // add object title
            var text = document.createTextNode("  " + record.Title);
            anchorURL.appendChild(text);
            cell.appendChild(anchorURL);

            // add last-modified-by
            cell = row.insertCell();
            cell.classList.add('wide');
            text = document.createElement('span');
            text.innerHTML = record.LastModifiedBy;
            cell.appendChild(text);

            // add modification timestamp
            cell = row.insertCell();
            cell.classList.add('wide');
            text = document.createElement('span');
            text.innerHTML = record.Timestamp;
            cell.appendChild(text);

            // add modification action (can be a 'View changes' button or some text)
            cell = row.insertCell();
            cell.classList.add('action');

            if (record.MetadataIsModified) {
                var textNewObject = document.createElement('div');
                var textItalic = document.createElement('i');
                textNewObject.appendChild(textItalic);
                textItalic.innerText = Locale.Translate('(Metadata modified)');
                textNewObject.style.fontWeight = 'normal';
                textNewObject.style.textAlign = 'center';
                cell.appendChild(textNewObject);
            } else
            if (record.IsNew) {
                var textNewObject = document.createElement('div');
                var textItalic = document.createElement('i');
                textNewObject.appendChild(textItalic);
                textItalic.innerText = Locale.Translate('(New)');
                textNewObject.style.fontWeight = 'normal';
                textNewObject.style.textAlign = 'center';
                cell.appendChild(textNewObject);
            } else {
                var textNewObject = document.createElement('div');
                var anchorViewChanges = document.createElement('a');
                textNewObject.appendChild(anchorViewChanges);
                anchorViewChanges.href = "synchronization/data/" + record.Token + "/";
                anchorViewChanges.classList.add("button");
                anchorViewChanges.classList.add("button-gray");
                anchorViewChanges.classList.add("small");
                anchorViewChanges.style.minWidth = "50px";
                fontAwesome = document.createElement('i');
                fontAwesome.classList.add('phui-font-fa');
                fontAwesome.classList.add('fa-eye');
                anchorViewChanges.appendChild(fontAwesome);
                text = document.createTextNode(Locale.Translate("View changes"));
                anchorViewChanges.appendChild(text);
                textNewObject.style.fontWeight = 'normal';
                textNewObject.style.textAlign = 'center';
                cell.appendChild(textNewObject);
            }
        });
    };
    xmlhttp.send(null);
}
</script>