<div>
    <img class="drawio" src="@@IMG-SRC-BASE64@@" />
</div>

<script>
	var editor = '/diagrams.net/webapp/?embed=1&spin=1&proto=json';
	var initial = null;
	var name = null;

    @{IF @@HIDE-EXIT-BTN@@=True@
        editor += '&noExitBtn=1';
	}@

    editor += '&lang=@@LANGUAGE@@';
    editor += '&ui=min';

	function edit(image)
	{
	    var iframe = document.createElement('iframe');
	    iframe.setAttribute('title', 'diagrams.net editor');
		iframe.setAttribute('frameborder', '0');
		iframe.style.width = "100%";
		iframe.style.height = "calc(100% - 38px)";
		iframe.style.marginTop = "53px";
		image.style.display = 'none';

		var receive = function(evt)
		{
			if (evt.data.length > 0)
			{
				var msg = JSON.parse(evt.data);

				if (msg.event == 'init')
				{
				    iframe.style.filter = "@@IFRAME-FILTER@@";
				    iframe.contentWindow.postMessage(JSON.stringify({action: 'load',
						autosave: 1, xmlpng: image.getAttribute('src')}), '*');
				}
				else if (msg.event == 'export')
				{
				    saveFlowchart(name, msg.data, iframe);
                }
				else if (msg.event == 'exit') {
				    var originURL = sessionStorage['originURL'];
				    if (originURL) {
				        sessionStorage.removeItem('originURL');
				        document.location.href = originURL;
				    }
				}
				else if (msg.event == 'save') {
				    iframe.contentWindow.postMessage(JSON.stringify({
				        action: 'export',
				        format: 'xmlpng', 
				        xml: msg.xml, 
				        spin: 'Updating page'
				    }), '*');
				}
			}
		};

		window.addEventListener('message', receive);
		iframe.setAttribute('src', editor);
		document.querySelector('.phabrico-page-content').appendChild(iframe);
	};

	function load()
	{
		initial = document.getElementById('image').getAttribute('src');
		start();
	};

	function saveFlowchart(name, flowchartData, iframe)
	{
	    var isStaged = document.location.pathname.startsWith("/diagrams.net/F-");
	    var fileID = parseInt(document.location.pathname.substring("/diagrams.net/F".length).split('/')[0]);

	    var data = new FormData();
	    data.append('data', flowchartData);
	    data.append('fileID', fileID);

	    var xmlhttp = new XMLHttpRequest();
	    xmlhttp.overrideMimeType("application/json");
	    xmlhttp.open('POST', "/diagrams.net/save/", true);
	    xmlhttp.onload = function () {
	        if (xmlhttp.readyState == 4) {
	            var errorMessage = null;
	            try {
	                var result = JSON.parse(xmlhttp.responseText);
	                if (result.Status != "OK") {
	                    errorMessage = result.Error;
	                } else {
                        // inform Diagrams.Net framework that the diagram was successfully saved
	                    iframe.contentWindow.postMessage(JSON.stringify({
	                        action: 'status',
	                        message: '', 
	                        modified: false
	                    }), '*');

	                    if (isStaged == false) {
	                        document.location.pathname = "/diagrams.net/F" + result.FileToken;  // reload with new File-ID
	                    }
	                }
	            } catch(exc) {
	                errorMessage = exc.message;
	            }
	        }
	    };
	    xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
	    xmlhttp.send(data);
	}

	function start()
	{
		name = (window.location.hash.length > 1) ? window.location.hash.substring(1) : 'default';
		var current = localStorage.getItem(name);

		if (current != null)
		{
			var entry = JSON.parse(current);
			document.getElementById('image').setAttribute('src', entry.data);
		}
		else
		{
			document.getElementById('image').setAttribute('src', initial);
		}
	};

	window.addEventListener('hashchange', start);

	document.addEventListener('DOMContentLoaded', function () {
	    edit(document.querySelector('img.drawio'));
	    setScreenMode();
	}, false);
</script>

<div class="crumbs" style="top:28px; margin-left: -4px;">
    <a href="/diagrams.net/">
        <span class="phui-font-fa fa-sitemap" style="padding-right: 5px;"></span>
    </a>
    <a href="/diagrams.net/">Diagrams</a>
    <span>  &gt;  </span>
    <a>@@DIAGRAM-NAME@@</a>
</div>
