<style>
    .diagram-editor .phabrico-standard-page-body {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<div>
    <img class="drawio" src="@@IMG-SRC-BASE64@@" />
</div>

<script>
    var editor = document.baseURI + 'diagrams.net/webapp/?embed=1&spin=1&proto=json';
	var initial = null;
	var name = null;

    @{IF @@HIDE-EXIT-BTN@@=True@
        editor += '&noExitBtn=1';
	}@

    editor += '&lang=@@LANGUAGE@@';
    editor += '&ui=min';

	function edit(image)
	{
	    var iframe = document.createElement('iframe');
	    iframe.setAttribute('title', 'diagrams.net editor');
		iframe.setAttribute('frameborder', '0');
		iframe.style.width = "100%";
		iframe.style.height = "calc(100vh - 91px)";
        iframe.style.marginTop = "50px";
        iframe.style.marginBottom = "-16px";
		image.style.display = 'none';

		var receive = function(evt)
		{
			if (evt.data.length > 0)
			{
				var msg = JSON.parse(evt.data);

				if (msg.event == 'init')
				{
				    iframe.style.filter = "@@IFRAME-FILTER@@";
				    iframe.contentWindow.postMessage(JSON.stringify({action: 'load',
						autosave: 1, xmlpng: image.getAttribute('src')}), '*');
				}
                else if (msg.event == 'load')
                {
                    @{IF @@SHOW-APPROVE-TRANSLATION-BTN@@=True@
                        var menubar = iframe.contentWindow.document.querySelector('.geMenubarContainer');
                        var btnSave = menubar.querySelector('.geMenuItem.gePrimaryBtn');
                        var btnApproveAnchor = iframe.contentWindow.document.createElement('a');
                        btnApproveAnchor.id = 'btnApproveAnchor';
                        btnApproveAnchor.className = 'geMenuItem geGreenBtn';
                        btnApproveAnchor.style.marginLeft = '8px';
                        btnApproveAnchor.style.paddingTop = '6px';
                        btnApproveAnchor.title = Locale.Translate("Approve translation");
                        btnApproveAnchor.innerText = Locale.Translate("Approve translation");
                        @{IF @@DISABLE-APPROVE-TRANSLATION-BTN@@=True@
                            btnApproveAnchor.style.opacity = 0.2;
                            btnApproveAnchor.style.pointerEvents = 'none';
                            btnApproveAnchor.LastState = false;
                            btnApproveAnchor.NumberOfModifications = 0;
                        }@
                        @{ELSE
                            btnApproveAnchor.LastState = true;
                            btnApproveAnchor.NumberOfModifications = 1;
                        }@
                        btnSave.parentElement.insertBefore(btnApproveAnchor, btnSave.nextSibling)
                        btnApproveAnchor.addEventListener('click', function(e) {
                            showHideConfirmationMessage( true, Locale.Translate("Approve translation"), Locale.Translate("Are you sure you want to approve this translation?"),
                                function() {
                                    var data = new FormData();
                                    data.append('token', '@@DIAGRAM-TOKEN@@');

                                    var xmlRequest = new XMLHttpRequest();
                                    xmlRequest.onreadystatechange = function() {
                                        if (xmlRequest.readyState == 4 && xmlRequest.status == 200) {
                                            var jsonResponse = JSON.parse(xmlRequest.responseText);
                                            if (jsonResponse.Status == 'OK') {
                                                document.location.reload();
                                                return;
                                            }
                                            if (jsonResponse.Status == 'MasterDataModified') {
                                                showHideMessageDialog(true, Locale.Translate('ERROR'), jsonResponse.Message);
                                                return;
                                            }
                                        }
                                    };

                                    btnApproveAnchor.NumberOfModifications = 0;

                                    xmlRequest.open('POST', 'translations/approve', true);
                                    xmlRequest.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
                                    xmlRequest.send(data);
                                },
                                function() {
                                    showHideConfirmationMessage(false);
                                },
                                null
                            );
                        });

                        iframe.contentWindow.setInterval(function(e) {
                            // check periodically if btnApproveAnchor should be enabled or disabled
                            if (btnApproveAnchor.NumberOfModifications > 0 && iframe.contentWindow.sb.editorUi.editor.modified == false) {
                                btnApproveAnchor.style.opacity = null;
                                btnApproveAnchor.style.pointerEvents = null;
                            }
                            else if (btnApproveAnchor.LastState != iframe.contentWindow.sb.editorUi.editor.modified) {
                                btnApproveAnchor.LastState = iframe.contentWindow.sb.editorUi.editor.modified;
                                btnApproveAnchor.NumberOfModifications++;
                            }
                        }, 500);
                    }@
                }
				else if (msg.event == 'export')
				{
				    saveFlowchart(name, msg.data, iframe);
                }
				else if (msg.event == 'exit') {
				    var originURL = sessionStorage['originURL'];
				    if (originURL) {
				        sessionStorage.removeItem('originURL');
				        document.location.href = originURL;
				    }
				}
				else if (msg.event == 'save') {
				    iframe.contentWindow.postMessage(JSON.stringify({
				        action: 'export',
				        format: 'xmlpng', 
				        xml: msg.xml, 
				        spin: 'Updating page'
				    }), '*');
				}
			}
		};

		window.addEventListener('message', receive);
		iframe.setAttribute('src', editor);
		document.querySelector('.phabrico-page-content').appendChild(iframe);
	};

	function load()
	{
		initial = document.getElementById('image').getAttribute('src');
		start();
	};

	function saveFlowchart(name, flowchartData, iframe)
	{
        var fileID = parseInt(
                        document.location.pathname.split("/diagrams.net/")
                                                  .reverse()[0]
                                                  .substring("F".length)
                     );
	    var isStaged = fileID < 0;

	    var data = new FormData();
	    data.append('data', flowchartData);
	    data.append('fileID', fileID);

	    var xmlhttp = new XMLHttpRequest();
	    xmlhttp.overrideMimeType("application/json");
	    xmlhttp.open('POST', "diagrams.net/save/", true);
	    xmlhttp.onload = function () {
	        if (xmlhttp.readyState == 4) {
	            var errorMessage = null;
	            try {
	                var result = JSON.parse(xmlhttp.responseText);
	                if (result.Status != "OK") {
	                    errorMessage = result.Error;
	                } else {
                        // inform Diagrams.Net framework that the diagram was successfully saved
	                    iframe.contentWindow.postMessage(JSON.stringify({
	                        action: 'status',
	                        message: '', 
	                        modified: false
	                    }), '*');

	                    if (isStaged == false) {
	                        document.location = document.baseURI + "diagrams.net/F" + result.FileToken;  // reload with new File-ID
	                    }
	                }
	            } catch(exc) {
	                errorMessage = exc.message;
	            }
	        }
	    };
	    xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
	    xmlhttp.send(data);
	}

	function start()
	{
		name = (window.location.hash.length > 1) ? window.location.hash.substring(1) : 'default';
		var current = localStorage.getItem(name);

		if (current != null)
		{
			var entry = JSON.parse(current);
			document.getElementById('image').setAttribute('src', entry.data);
		}
		else
		{
			document.getElementById('image').setAttribute('src', initial);
		}
	};

	window.addEventListener('hashchange', start);

	document.addEventListener('DOMContentLoaded', function () {
	    edit(document.querySelector('img.drawio'));

	    if (diagramName.innerText != "@@NEW-DIAGRAM-NAME@@") {
	        sessionStorage["DiagramsNet.DiagramName"] = diagramName.innerText;
	    }
	}, false);
</script>

<div class="crumbs" style="top:28px; margin-left: -4px;">
    <a href="diagrams.net/">
        <span class="phui-font-fa fa-sitemap" style="padding-right: 5px;"></span>
    </a>
    <a href="diagrams.net/">Diagram</a>
    <span>  &gt;  </span>
    <a id="diagramName">@@DIAGRAM-NAME@@</a>
</div>
