<style>
    .title {
        padding: 8px 0px;
        font-weight: bold;
        display: flex;
    }

    .scrollableTable.modifications {
        height: calc(100vh - 175px);
    }

    tbody {
        background-image: none;
    }

    [data-theme="dark"] #tblGitanosRemoteRepositories tbody tr:nth-child(2n) {
        background: #4448;
    }

    [data-theme="light"] #tblGitanosRemoteRepositories tbody tr:nth-child(2n) {
        background: #4442;
    }

    #tblGitanosRemoteRepositories th.action {
        text-align: center;
    }

    #tblGitanosRemoteRepositories tbody td.action {
        display: flex;
    }

        #tblGitanosRemoteRepositories tbody td.action a.button {
            height: 20px;
            margin-bottom: 2px;
            margin-left: 4px;
            margin-top: 5px;
            min-width: 70px;
        }

    #tblGitanosRemoteRepositories tr a.add {
        display: block;
    }

    #tblGitanosRemoteRepositories tr a.remove {
        display: none;
    }

    .fa-spinner.fa-pulse {
        width: 13px;
        height: 13px;
        top: 13px;
        position: relative;
        text-align: center;
        display: none;
    }

    #noPhabricatorRepositories {
        text-align: center;
        background: #8884;
        height: calc(100vh - 140px);
        font-style: italic;
        line-height: calc(100vh - 140px);
    }
</style>

<div class="wait">
    <svg height="100" width="180">
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(20) rotate(180,0,50)">
            <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(40) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.5s" values="30; 100; 30" repeatCount="indefinite" begin="0.1s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(60) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1s" values="30; 100; 30" repeatCount="indefinite" begin="0.2s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(80) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.2s" values="30; 100; 30" repeatCount="indefinite" begin="0.3s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(100) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.1s" values="30; 100; 30" repeatCount="indefinite" begin="0.1s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(120) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.4s" values="30; 100; 30" repeatCount="indefinite" begin="0.2s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(140) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.2s" values="30; 100; 30" repeatCount="indefinite" begin="0.3s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(160) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="1.0s" values="30; 100; 30" repeatCount="indefinite" begin="0.4s"></animate>
        </rect>
        <rect x="0" fill="#00a" width="18" height="100" transform="translate(180) rotate(180 0 50)">
            <animate attributeName="height" attributeType="XML" dur="0.8s" values="30; 100; 30" repeatCount="indefinite" begin="0.5s"></animate>
        </rect>
    </svg>
    <span class="message" style="display:block;">One moment please...</span>
</div>

<div id="overview" class="app-window no-pushable-commits">
    <div class="title">
        <span>Synchronized repository list from Phabricator</span>
    </div>
    <div id="noPhabricatorRepositories" style="display:none;">There were no repositories synchronized from Phabricator</div>
    <form id="frmGitanosRepositoryModifications" action="" method="POST">
        <div class="screen">
            <div class="aphront-form-input modifications" style="display: flex;">
                <input id="filter" type="text" class="full-width" placeholder="Type some text to filter the list of repositories..." oninput="populateRemoteRepositories(this.value)" />
            </div>
            <div class="scrollableTable modifications" style="display: none; height: unset;">
                <table id="tblGitanosRemoteRepositories" class="aphront-table-view">
                    <thead>
                        <tr>
                            <th id="tblGitanosRemoteRepositories#Name" class="sortableColumn wide name sortedColumn ascending">Name</th>
                            <th id="tblGitanosRemoteRepositories#ShortName" class="sortableColumn wide shortname">Short name</th>
                            <th id="tblGitanosRemoteRepositories#CallSign" class="sortableColumn wide callsign">Call sign</th>
                            <th id="tblGitanosRemoteRepositories#URI" class="sortableColumn wide uri">URI</th>
                            <th id="tblGitanosRemoteRepositories#Actions" class="action">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="dlgCloneRepository" class="aphront-dialog-view modalview" style="display:none;position: fixed; width: 1366px; max-width: 1366px; top: 0px; left: calc(50vw - 683px);">
            <input id="uriRepository" name="uriRepository" type="hidden" />
            <div class="aphront-dialog-overlay"></div>
            <div class="aphront-dialog-head">
                <span class="phui-header-header">Clone repository</span>
            </div>
            <div class="aphront-dialog-body phabrico-remarkup">
                <div class="aphront-dialog-full-width">
                    <label class="aphront-form-label" for="txtCloneDestination" style="width:auto;">Destination:</label>
                    <div class="aphront-form-control" style="display:flex; padding: 4px 0px 0px 4px;">
                        <label id="lblCloneDestinationRootDirectory" style="padding: 4px; white-space: nowrap;"></label>
                        <input id="txtCloneDestination" name="txtCloneDestination" type="text" style="height: auto;" oninput="txtCloneDestinationModified(this.value)" />
                    </div>
                </div>
            </div>
            <div class="aphront-dialog-tail">
                <button class="button-gray" id="btnCloneRepositoryCancel" type="button" style="width:140px; cursor: pointer;" onclick="showHideCloneRepositoryDialog(false)">Cancel</button>
                <button class="button-blue" id="btnCloneRepositoryConfirm" type="button" style="width:140px; cursor: pointer;" onclick="gitCloneRepository()">Clone</button>
            </div>
        </div>

        <div id="dlgMessage" class="aphront-dialog-view modalview" style="display:none;position: fixed; width: 600px; top: 0px; left: calc(50vw - 300px);">
            <div class="aphront-dialog-overlay"></div>
            <div class="aphront-dialog-head">
                <span class="phui-header-header title"></span>
            </div>
            <div class="aphront-dialog-body phabrico-remarkup">
                <div class="phabrico-remarkup">
                    <p class="message"></p>
                </div>
                <br>
            </div>
            <div class="aphront-dialog-tail grouped" style="text-align: right;">
                <a href="#" class="button button-blue yes" onclick="return showHideMessageDialog(false);">OK</a>
            </div>
        </div>

        <div id="dlgYesNo" class="aphront-dialog-view modalview" style="display:none;position: fixed; width: 600px; top: 0px; left: calc(50vw - 300px);">
            <div class="aphront-dialog-overlay"></div>
            <div class="aphront-dialog-head">
                <span class="phui-header-header title"></span>
            </div>
            <div class="aphront-dialog-body phabrico-remarkup">
                <div class="phabrico-remarkup">
                    <p class="message"></p>
                </div>
                <br>
            </div>
            <div class="aphront-dialog-tail grouped" style="text-align: right;">
                <a data-accesskey="Button-AccessKey-Yes" href="#" class="button button-blue yes">Yes</a>
                <a data-accesskey="Button-AccessKey-No" href="#" class="button button-gray no">No</a>
            </div>
        </div>
    </form>
</div>

<script>
    var tmrPopulateRemoteRepositories = null;

    firstTimePopulatingRemoteRepositories = true;

    // fill tables
    var sortedColumn = "Name";

    if (typeof sessionStorage["GitanosRepositoryModifications_filter"] !== 'undefined') {
        filter.value = sessionStorage["GitanosRepositoryModifications_filter"];
    } else {
        filter.value = "";
    }


    initializeTables();

    document.querySelector('div.wait').style.display = 'block';
    populateRemoteRepositories(filter.value, true);

    // set page title
    document.title = fromHTML("@@CUSTOM-APPLICATION-NAME@@") + " - " + Locale.Translate("Synchronized repository list from Phabricator");

    lblCloneDestinationRootDirectory.innerText = fromHTML("@@GITANOS-ROOTDIRECTORY@@\\");

    function gitCloneRepository()
    {
        var data = new FormData(frmGitanosRepositoryModifications);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.overrideMimeType("application/json");
        xmlhttp.open('POST', "gitanos/repositories/clone/", true);
        xmlhttp.onload = function() {
            if (xmlhttp.readyState == 4) {
                try {
                    document.querySelector('div.wait').style.display = null;

                    var jsonResponse = JSON.parse(xmlhttp.responseText);
                    if (jsonResponse.Status == 'Error') {
                        showHideMessageDialog(true, Locale.Translate('ERROR'), jsonResponse.Description);
                    } else {
                        // refresh screen
                        populateRemoteRepositories(filter.value);
                        showHideMessageDialog(true, '', Locale.Translate('Repository successfully cloned'));
                    }
                }
                catch(except) {
                    showHideMessageDialog(true, Locale.Translate('ERROR'), except.message);
                }
            }
        };
        xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
        xmlhttp.send(data);

        showHideCloneRepositoryDialog(false);
        document.querySelector('div.wait').style.display = 'block';
    }

    function gitRestoreModification(modificationID)
    {
        var data = new FormData(frmGitanosRepositoryModifications);
        data.append('modificationID', modificationID);

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.overrideMimeType("application/json");
        xmlhttp.open('POST', "gitanos/repository/clone/", true);
        xmlhttp.onload = function() {
            if(xmlhttp.readyState == 4) {
                document.querySelector('div.wait').style.display = null;

                try {
                    var jsonResponse = JSON.parse(xmlhttp.responseText);
                    if (jsonResponse.Status == 'Error') {
                        showHideMessageDialog(true, Locale.Translate('ERROR'), jsonResponse.Description);
                    } else {
                        populateRemoteRepositories(filter.value);
                    }
                }
                catch(except) {
                    showHideMessageDialog(true, Locale.Translate('ERROR'), except.message);
                }
            }
        };
        xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
        xmlhttp.send(data);

        showHideConfirmationMessage(false);
        document.querySelector('div.wait').style.display = 'block';
    }

    function initializeTables()
    {
        var sortableColumns = document.querySelectorAll('#tblGitanosRemoteRepositories thead tr th.sortableColumn');
        sortableColumns.forEach(function (sortableColumn) {
            sortableColumn.onclick = function(clickedColumnHeader) {
                 var newSortedColumn = clickedColumnHeader.target.id.split('#')[1];

                 var previouslySortedColumn = document.querySelector('#tblGitanosRemoteRepositories thead tr th.sortedColumn');
                 if (previouslySortedColumn != null) {
                     previouslySortedColumn.classList.remove('sortedColumn');
                     previouslySortedColumn.classList.remove('ascending');
                     previouslySortedColumn.classList.remove('descending');
                 }

                 if (sortedColumn == newSortedColumn) {
                    sortedColumn = sortedColumn + "-";
                    clickedColumnHeader.target.classList.add('sortedColumn');
                    clickedColumnHeader.target.classList.remove('ascending');
                    clickedColumnHeader.target.classList.add('descending');
                 } else {
                    sortedColumn = newSortedColumn;
                    clickedColumnHeader.target.classList.add('sortedColumn');
                    clickedColumnHeader.target.classList.add('ascending');
                    clickedColumnHeader.target.classList.remove('descending');
                 }

                 populateRemoteRepositories(filter.value)
            };
        });
    }

    function populateRemoteRepositories(firstCharacters, delayed = true) {
        if (delayed) {
            if (tmrPopulateRemoteRepositories != null) {
                clearTimeout(tmrPopulateRemoteRepositories);
            }

            tmrPopulateRemoteRepositories = setTimeout(function () {
                populateRemoteRepositories(firstCharacters, false);
            }, 300);
        } else {
            sessionStorage["GitanosRepositoryModifications_filter"] = firstCharacters;

            var data = new FormData(frmGitanosRepositoryModifications);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.overrideMimeType("application/json");
            xmlhttp.open('POST', "gitanos/repositories/" + sortedColumn + "/" + firstCharacters, true);
            xmlhttp.onload = function () {
                if (xmlhttp.readyState == 4) {
                    if (firstTimePopulatingRemoteRepositories) {
                        firstTimePopulatingRemoteRepositories = false;

                        if (filter.value == "") {
                            // there are no modifications: do not show search filter
                            document.querySelectorAll('.modifications').forEach(function (elem) {
                                elem.style.display = 'none';
                            });
                        }
                    }

                    document.querySelector('#tblGitanosRemoteRepositories tbody').innerHTML = "";

                    try {
                        var jsonResponse = JSON.parse(xmlhttp.responseText);
                        jsonResponse.forEach(function (record) {
                            noPhabricatorRepositories.style.display = 'none';

                            document.querySelectorAll('.modifications').forEach(function (elem) {
                                elem.style.display = 'flex';
                            });

                            var tbody = document.querySelector('#tblGitanosRemoteRepositories tbody');
                            var row = tbody.insertRow();

                            var cell = row.insertCell();
                            cell.classList.add('name');
                            var text = document.createTextNode(record.Name);
                            cell.appendChild(text);

                            cell = row.insertCell();
                            cell.classList.add('shortname');
                            text = document.createTextNode(record.ShortName);
                            cell.appendChild(text);

                            cell = row.insertCell();
                            cell.classList.add('callsign');
                            text = document.createTextNode(record.CallSign);
                            cell.appendChild(text);

                            cell = row.insertCell();
                            cell.classList.add('wide');
                            cell.classList.add('uri');

                            text = document.createTextNode(record.URI);
                            cell.appendChild(text);

                            // add action buttons to row
                            text = null;
                            cell = row.insertCell();
                            cell.classList.add('action');

                            var anchorCloneRepository = document.createElement('a');
                            anchorCloneRepository.href = document.location.pathname + "#" + record.ID;
                            anchorCloneRepository.classList.add("button");
                            anchorCloneRepository.classList.add("clone");
                            anchorCloneRepository.classList.add("small");
                            var fontAwesome = document.createElement('i');
                            fontAwesome.classList.add('phui-font-fa');
                            fontAwesome.classList.add('fa-download');
                            anchorCloneRepository.appendChild(fontAwesome);
                            text = document.createTextNode(Locale.Translate("Clone"));
                            anchorCloneRepository.appendChild(text);
                            anchorCloneRepository.classList.add("button-blue");
                            cell.appendChild(anchorCloneRepository);
                            anchorCloneRepository.addEventListener('click', function (e) {
                                showHideCloneRepositoryDialog(true, record);
                            });
                        });

                        document.querySelector('div.wait').style.display = null;
                    }
                    catch (exc) {
                        // show logon dialog
                        document.location.reload();
                    }
                }
            };
            xmlhttp.setRequestHeader('Content-type', 'multipart/form-data; charset=utf-8');
            xmlhttp.send(data);
        }
    }

    function showHideCloneRepositoryDialog(show, record)
    {
        if (show) {
            txtCloneDestination.value = '';
            dlgCloneRepository.style.display = 'block';
            document.querySelector('html').style.overflow = 'hidden';
            uriRepository.value = record.Name;
            txtCloneDestination.value = record.DefaultCloneDestination;
            txtCloneDestination.focus();
            txtCloneDestination.selectionStart = 0;
            txtCloneDestination.selectionEnd = txtCloneDestination.value.length;
            txtCloneDestinationModified(txtCloneDestination.value);

            // disable all TABs
            document.querySelectorAll('input, button, a, textarea').forEach(function(input) {
              input.setAttribute('tabindex', '-1');
            });

            // fix TABs for dialog
            txtCloneDestination.setAttribute('tabindex', '1');
            btnCloneRepositoryConfirm.setAttribute('tabindex', '2');
            btnCloneRepositoryCancel.setAttribute('tabindex', '3');
        } else  {
            dlgCloneRepository.style.display = 'none';
            document.querySelector('html').style.overflow = 'unset';

            // restore all TABs
            document.querySelectorAll('input, button, a, textarea').forEach(function(input) {
              input.removeAttribute('tabindex');
            });
        }

        return false;
    }

    function showHideConfirmationMessage(show, title, text, fnYes, fnNo)
    {
        if (show) {
            dlgYesNo.style.display = 'block';
            document.querySelector('html').style.overflow = 'hidden';

            var btnNo = dlgYesNo.querySelector('.no');
            var btnYes = dlgYesNo.querySelector('.yes');

            // set title and text
            dlgYesNo.querySelector('.title').innerText = title;
            dlgYesNo.querySelector('.message').innerHTML = text;

            // disable all TABs
            document.querySelectorAll('input, button, a, textarea').forEach(function(input) {
              input.setAttribute('tabindex', '-1');
            });

            // fix TABs for dialog
            btnNo.setAttribute('tabindex', '1');
            btnYes.setAttribute('tabindex', '2');

            // set functions to buttons
            btnNo.onclick = function() { fnNo(); return false; }
            btnYes.onclick = function() { fnYes(); return false; }

            // set focus
            btnNo.focus();
        } else {
            dlgYesNo.style.display = 'none';
            document.querySelector('html').style.overflow = 'unset';

            // restore all TABs
            document.querySelectorAll('input, button, a, textarea').forEach(function(input) {
              input.removeAttribute('tabindex');
            });
        }
    }

    function showHideMessageDialog(show, title, message) {
        if (show) {
            // set title and text
            dlgMessage.querySelector('.title').innerText = title;
            dlgMessage.querySelector('.message').innerHTML = message;

            dlgMessage.style.display = 'block';
            document.querySelector('html').style.overflow = 'hidden';
        } else {
            dlgMessage.style.display = 'none';
            document.querySelector('html').style.overflow = 'unset';
        }

        return false;
    }

    function txtCloneDestinationModified(newValue) {
        btnCloneRepositoryConfirm.disabled = newValue.trim().length == 0;
    }
</script>