<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clarius.TransformOnBuild" version="1.22.0" targetFramework="net461" developmentDependency="true" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.27.0-preview-0096" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.312" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net461" />
</packages>