[data-locale="de"] * {
    --navigator-width: 175px;
    --maniphest-navigator-width: 162px;
    --maniphest-editor-label-width: 100px;
    --remarkup-editor-tooltip-bold-width: 61px;
    --remarkup-editor-tooltip-bold-margin-left: -45px;
    --remarkup-editor-tooltip-italic-width: 40px;
    --remarkup-editor-tooltip-italic-margin-left: -32px;
    --remarkup-editor-tooltip-monospaced-width: 82px;
    --remarkup-editor-tooltip-monospaced-margin-left: -55px;
    --remarkup-editor-tooltip-bulleted-list-width: 169px;
    --remarkup-editor-tooltip-bulleted-list-margin-left: -102px;
    --remarkup-editor-tooltip-numbered-list-width: 132px;
    --remarkup-editor-tooltip-numbered-list-margin-left: -82px;
    --remarkup-editor-tooltip-codeblock-width: 73px;
    --remarkup-editor-tooltip-codeblock-margin-left: -52px;
    --remarkup-editor-tooltip-quote-width: 35px;
    --remarkup-editor-tooltip-quote-margin-left: -32px;
    --remarkup-editor-tooltip-table-width: 40px;
    --remarkup-editor-tooltip-table-margin-left: -36px;
    --remarkup-editor-tooltip-sitemap-width: 69px;
    --remarkup-editor-tooltip-sitemap-margin-left: -52px;
    --remarkup-editor-tooltip-help-width: 35px;
    --remarkup-editor-tooltip-help-margin-left: -32px;
}

[data-locale="es"] * {
    --navigator-width: 183px;
    --maniphest-navigator-width: 155px;
    --maniphest-editor-label-width: 100px;
    --remarkup-editor-tooltip-bold-width: 45px;
    --remarkup-editor-tooltip-bold-margin-left: -38px;
    --remarkup-editor-tooltip-italic-width: 42px;
    --remarkup-editor-tooltip-italic-margin-left: -33px;
    --remarkup-editor-tooltip-monospaced-width: 82px;
    --remarkup-editor-tooltip-monospaced-margin-left: -55px;
    --remarkup-editor-tooltip-bulleted-list-width: 90px;
    --remarkup-editor-tooltip-bulleted-list-margin-left: -61px;
    --remarkup-editor-tooltip-numbered-list-width: 86px;
    --remarkup-editor-tooltip-numbered-list-margin-left: -59px;
    --remarkup-editor-tooltip-codeblock-width: 104px;
    --remarkup-editor-tooltip-codeblock-margin-left: -69px;
    --remarkup-editor-tooltip-quote-width: 35px;
    --remarkup-editor-tooltip-quote-margin-left: -32px;
    --remarkup-editor-tooltip-table-width: 35px;
    --remarkup-editor-tooltip-table-margin-left: -32px;
    --remarkup-editor-tooltip-sitemap-width: 65px;
    --remarkup-editor-tooltip-sitemap-margin-left: -50px;
    --remarkup-editor-tooltip-help-width: 40px;
    --remarkup-editor-tooltip-help-margin-left: -32px;
}

[data-locale="nl"] * {
    --navigator-width: 170px;
    --maniphest-navigator-width: 180px;
    --maniphest-editor-label-width: 110px;
    --remarkup-editor-tooltip-bold-width: 61px;
    --remarkup-editor-tooltip-bold-margin-left: -45px;
    --remarkup-editor-tooltip-italic-width: 40px;
    --remarkup-editor-tooltip-italic-margin-left: -32px;
    --remarkup-editor-tooltip-monospaced-width: 82px;
    --remarkup-editor-tooltip-monospaced-margin-left: -55px;
    --remarkup-editor-tooltip-bulleted-list-width: 143px;
    --remarkup-editor-tooltip-bulleted-list-margin-left: -88px;
    --remarkup-editor-tooltip-numbered-list-width: 121px;
    --remarkup-editor-tooltip-numbered-list-margin-left: -76px;
    --remarkup-editor-tooltip-codeblock-width: 73px;
    --remarkup-editor-tooltip-codeblock-margin-left: -52px;
    --remarkup-editor-tooltip-quote-width: 35px;
    --remarkup-editor-tooltip-quote-margin-left: -32px;
    --remarkup-editor-tooltip-table-width: 35px;
    --remarkup-editor-tooltip-table-margin-left: -32px;
    --remarkup-editor-tooltip-sitemap-width: 56px;
    --remarkup-editor-tooltip-sitemap-margin-left: -45px;
    --remarkup-editor-tooltip-help-width: 35px;
    --remarkup-editor-tooltip-help-margin-left: -32px;
}

[data-locale="zh"] * {
    --navigator-width: 100px;
    --maniphest-navigator-width: 135px;
    --maniphest-editor-label-width: 90px;
    --remarkup-editor-tooltip-bold-width: 35px;
    --remarkup-editor-tooltip-bold-margin-left: -32px;
    --remarkup-editor-tooltip-italic-width: 30px;
    --remarkup-editor-tooltip-italic-margin-left: -26px;
    --remarkup-editor-tooltip-monospaced-width: 82px;
    --remarkup-editor-tooltip-monospaced-margin-left: -55px;
    --remarkup-editor-tooltip-bulleted-list-width: 77px;
    --remarkup-editor-tooltip-bulleted-list-margin-left: -54px;
    --remarkup-editor-tooltip-numbered-list-width: 86px;
    --remarkup-editor-tooltip-numbered-list-margin-left: -59px;
    --remarkup-editor-tooltip-codeblock-width: 73px;
    --remarkup-editor-tooltip-codeblock-margin-left: -52px;
    --remarkup-editor-tooltip-quote-width: 35px;
    --remarkup-editor-tooltip-quote-margin-left: -32px;
    --remarkup-editor-tooltip-table-width: 35px;
    --remarkup-editor-tooltip-table-margin-left: -32px;
    --remarkup-editor-tooltip-sitemap-width: 28px;
    --remarkup-editor-tooltip-sitemap-margin-left: -31px;
    --remarkup-editor-tooltip-help-width: 35px;
    --remarkup-editor-tooltip-help-margin-left: -32px;
}

* {
    --navigator-width: 150px;
    --maniphest-navigator-width: 140px;
    --maniphest-editor-label-width: 90px;
    --remarkup-editor-tooltip-bold-width: 35px;
    --remarkup-editor-tooltip-bold-margin-left: -32px;
    --remarkup-editor-tooltip-italic-width: 30px;
    --remarkup-editor-tooltip-italic-margin-left: -26px;
    --remarkup-editor-tooltip-monospaced-width: 82px;
    --remarkup-editor-tooltip-monospaced-margin-left: -55px;
    --remarkup-editor-tooltip-bulleted-list-width: 77px;
    --remarkup-editor-tooltip-bulleted-list-margin-left: -54px;
    --remarkup-editor-tooltip-numbered-list-width: 86px;
    --remarkup-editor-tooltip-numbered-list-margin-left: -59px;
    --remarkup-editor-tooltip-codeblock-width: 73px;
    --remarkup-editor-tooltip-codeblock-margin-left: -52px;
    --remarkup-editor-tooltip-quote-width: 35px;
    --remarkup-editor-tooltip-quote-margin-left: -32px;
    --remarkup-editor-tooltip-table-width: 35px;
    --remarkup-editor-tooltip-table-margin-left: -32px;
    --remarkup-editor-tooltip-sitemap-width: 58px;
    --remarkup-editor-tooltip-sitemap-margin-left: -46px;
    --remarkup-editor-tooltip-help-width: 35px;
    --remarkup-editor-tooltip-help-margin-left: -32px;
}
