[data-theme="dark"] {
    --disablePrintableView-background: #2d2d30;
    --disablePrintableView-color: #FFDB93;
    --headerBar-background: #2d2d30;
    --popSearchResults-background: #1b1b1c;
    --popSearchResults-border: solid 2px #777;
    --popSearchResults-a-border-bottom: solid 1px #333337;
    --popSearchResults-a-hover-background: #333334;
    --aphront-dialog-body-background: #2d2d30;
    --aphront-dialog-head-background: linear-gradient(to bottom,#333,#000);
    --aphront-dialog-head-border-bottom: 1px solid #221810;
    --aphront-dialog-head-color: #FFDB93;
    --aphront-dialog-overlay-background: #404040;
    --aphront-dialog-tail-background: #252526;
    --aphront-dialog-tail-border-top: 1px solid #221810;
    --aphront-dialog-view-background-color: #222226;
    --aphront-dialog-view-border: 1px solid #4F5F6A;
    --aphront-dialog-view-modal-border: 2px solid #fff;
    --aphront-form-error-color: #cc3000;
    --aphront-table-view-th-background-color: #333;
    --aphront-table-view-th-border-bottom: 1px solid #221810;
    --aphront-table-view-th-color: #C4AB73;
    --app-edit-window-head-background-image: linear-gradient(#38383a,#101018,#101018,#101018,#000018,#001018);
    --app-edit-window-head-border-bottom: 1px solid #4F5F6A;
    --app-edit-window-head-color: #74777D;
    --app-edit-window-head-phui-font-fa-hover-color: #3498db;
    --app-window-head-background: #38383a;
    --app-window-head-background-collapsed: linear-gradient(to bottom, #38383a, #38383a, #747476);
    --app-window-head-color: #C4AB73;
    --autocomplete-background: #555;
    --autocomplete-border-color: #ccc;
    --autocomplete-head-background: linear-gradient(to bottom, #888, #444);
    --autocomplete-head-color: #fff;
    --autocomplete-head-icon-color: #a2b6dd;
    --autocomplete-list-a-menuitem-border-top-color: #DDE8EF;
    --autocomplete-list-a-menuitem-color: #eee;
    --autocomplete-list-a-menuitem-focused-color: #2b2d21;
    --autocomplete-list-a-menuitem-focused-background: #9e9ea8;
    --autocomplete-list-a-menuitem-icon-color: #5c7788;
    --config-tables-body-color: #74777D !important;
    --config-tables-body-background-color: #333;
    --config-tables-body-border-bottom: solid 1px #333;
    --config-tables-header-border: solid 1px #666;
    --created-background1: yellow;
    --created-background2: linear-gradient(to bottom,#fff,#ff0,#fff);
    --created-color: #f09040;
    --created-webkit-text-fill-color: transparent;
    --crumbs-a-hover-color: #fff;
    --diff-border-color: #ccc;
    --diff-header-background: #666;
    --diff-header-border-color: #999;
    --diff-locationpane-delete-background: #f55;
    --diff-locationpane-insert-background: #089f18;
    --diff-locationpane-equal-background: #333;
    --diff-locationpane-replace-background: #c80;
    --diff-td-delete-background: #f55;
    --diff-td-equal-background: #333;
    --diff-td-insert-background: #089f18;
    --diff-td-insert-color: #fff;
    --diff-td-merge-background: skyblue;
    --diff-td-merge-color: #000;
    --diff-td-replace-background: #c80;
    --diff-td-replace-color: #fff;
    --diff-td-replace-em-background: #ffdf00;
    --diff-td-replace-em-border: solid 1px #a0806060;
    --diff-td-replace-em-color: #852;
    --diff-empty-line-background: repeating-linear-gradient(135deg, transparent, transparent 6px, #505050 6px, #505050 8px), repeating-linear-gradient(45deg, #333, #333 6px, #505050 6px, #505050 8px);
    --edit-container-app-window-body-edit-border: solid 1px #A1A6B0;
    --edit-left-background: #222;
    --edit-slider-background-image: linear-gradient(to right,#ccc,#fff,#ccc);
    --fa-sign-out-color: #fff;
    --favorite-item-border-normal: #8886;
    --favorite-item-border-dragging: -1px 0px 0px #8886, 1px 0px 0px #8886, 0px 23px 0px #8886 inset;
    --favorite-item-splitter: #888;
    --frozen-background1: aqua;
    --frozen-background2: linear-gradient(to bottom,#00f,#04f,#0ff);
    --frozen-color: #4090f0;
    --frozen-even-row-background: #44a;
    --frozen-odd-row-background: #338;
    --frozen-webkit-text-fill-color: transparent;
    --unfrozen-background1: red;
    --unfrozen-background2: linear-gradient(to bottom,#f00,#fa0,#ff0);
    --unfrozen-color: #f09040;
    --unfrozen-webkit-text-fill-color: transparent;
    --translated-background: #18b;
    --translated-color: #fff;
    --homepage-line-color: #846b33;
    --list-item-separator-border-top: solid 1px #ebeced;
    --list-item-view-a-color: #bbb;
    --navigator-menuitem-notification-error-background: #d20;
    --navigator-menuitem-notification-error-color: #fff;
    --navigator-menuitem-notification-information-background: #06f;
    --navigator-menuitem-notification-information-color: #fff;
    --navigator-menuitem-notification-warning-background: #fc0;
    --navigator-menuitem-notification-warning-color: #000;
    --maniphest-link-background-image: linear-gradient(to bottom,#ccc,#888);
    --maniphest-link-border: solid 1px #ccc;
    --maniphest-link-color: #000;
    --maniphest-link-hover-background-image: linear-gradient(to bottom, #ccf, #8af);
    --maniphest-list-head-background: #181818;
    --maniphest-list-head-border-bottom: 1px solid #4F5F6A;
    --maniphest-list-item-border-bottom: 1px solid #4F5F6A;
    --maniphest-list-item-project-a-border-color: #d1abab;
    --maniphest-list-item-timestamp-color: #74777D;
    --maniphest-task-red-color: #cc3000;
    --maniphest-task-lightred-color: #ff7030;
    --maniphest-task-orange-color: #e67e22;
    --maniphest-task-lightorange-color: #f7e2d4;
    --maniphest-task-yellow-color: #f1c40f;
    --maniphest-task-lightyellow-color: #a4850a;
    --maniphest-task-green-color: #139543;
    --maniphest-task-lightgreen-color: #0e7032;
    --maniphest-task-blue-color: #2980b9;
    --maniphest-task-lightblue-color: #1d5981;
    --maniphest-task-sky-color: #3498db;
    --maniphest-task-lightsky-color: #ddeef9;
    --maniphest-task-fire-color: #e62f17;
    --maniphest-task-indigo-color: #6e5cb6;
    --maniphest-task-lightindigo-color: #eae6f7;
    --maniphest-task-pink-color: #da49be;
    --maniphest-task-lightpink-color: #fbeaf8;
    --maniphest-task-violet-color: #8e44ad;
    --maniphest-task-lightviolet-color: #622f78;
    --maniphest-task-charcoal-color: #4b4d51;
    --maniphest-task-state-background: #777;
    --maniphest-task-state-color: #ccc;
    --phabrico-logo-color: #FFDB93;
    --phame-reference-background: #aaa;
    --phame-reference-color: #000;
    --phame-reference-border-color: #ddd;
    --phui-document-background: #444;
    --phui-document-create-message-background: #555;
    --phui-document-border-bottom: 30px solid #222226;
    --phui-document-hierarchy-border: solid 1px #222;
    --phui-document-hierarchy-border-background: transparent;
    --phui-document-toc-li-hover-background-color: rgba(255,255,255,0.2);
    --phui-document-toc-selected-text-shadow: 1px 1px 1px #cccc;
    --phui-document-toc-selected-color: #fff;
    --phui-font-fa-color: #b4b2ae;
    --phui-info-severity-error-border-color: #cc3000;
    --phui-info-severity-error-color: #ff5000;
    --phui-list-item-href-hover-background: rgba(255,255,255,.2);
    --phui-list-view-background: #2d2d30;
    --requestStackTrace-background: #666;
    --requestStackTrace-color: #fff;
    --selected-text-background: #266ec8;
    --selected-text-foreground: #fff;
    --tab-head-button-background-image: linear-gradient(to bottom,#333,#000);
    --tab-head-button-background-image-hover: linear-gradient(to bottom,#333,#222226);
    --tab-head-button-border: solid 1px #4F5F6A;
    --tab-head-button-border-bottom: #000 solid 1px;
    --tab-head-button-color: #666;
    --tab-head-button-color-hover: #666;
    --tab-head-button-selected-background-image: linear-gradient(to bottom,#333,#222226);
    --tab-head-button-selected-border-bottom: solid 2px #222226;
    --tab-head-button-selected-color: #aaa;
    --a-color: #53BCF2;
    --a-in-notification-color: #9DF;
    --phui-document-hierarchy-a-color: #53e0ff;
    --blockquote-background-color: #666;
    --blockquote-border-left: 3px solid #a7b5bf;
    --blockquote-color: #fff;
    --body-background: #222226;
    --body-color: #eee;
    --button-background-color: #2980b9;
    --button-snowflake-color: #80d0ff;
    --button-background-image: linear-gradient(to bottom,#3498db,#2980b9);
    --button-background-image-hover: linear-gradient(to bottom,#54b8fb,#2980b9);
    --button-border: 1px solid #2980b9;
    --button-color: #FFF;
    --button-color-hover: #FFF;
    --button-green-background-image: linear-gradient(to bottom,#34db68,#009000);
    --button-green-hover-background-image: linear-gradient(to bottom,#34db68,#00b900);
    --button-gray-background-color: #F7F7F9;
    --button-gray-background-image: linear-gradient(to bottom,#888,#666);
    --button-gray-border: 1px solid rgba(71,87,120,0.3);
    --button-gray-color: #eee;
    --button-gray-background-image-hover: linear-gradient(to bottom,#ccc,#666);
    --button-gray-color-hover: #FFF;
    --button-red-background-image: linear-gradient(to bottom,#fc5368,#900000);
    --button-red-hover-background-image: linear-gradient(to bottom,#fe74b8,#e94040);
    --button-yellow-background-image: linear-gradient(to bottom,#f3ce00,#d39e00);
    --button-yellow-hover-background-image: linear-gradient(to bottom,#f3fe20,#d39e00);
    --button-yellow-color: #000;
    --button-yellow-color-hover: #000;
    --counterexample-background: #672626;
    --img-darkness-extreme-filter: invert(80.7%) sepia(0%) saturate(302%) hue-rotate(180deg) brightness(139%) contrast(100%);
    --img-darkness-moderate-filter: brightness(60%) contrast(150%);
    --input-tag-div-first-child-span-background: #856737;
    --input-tag-div-first-child-span-color: #f7e6e6;
    --input-tag-div-first-child-span-border: solid 1px #efcfcf;
    --input-tag-div-nth-child-2-background: #666;
    --input-tag-div-nth-child-2-color: #fff;
    --input-tag-div-nth-child-2-border: 1px solid #DDE8EF;
    --input-tag-div-nth-child-2-a-background: #222;
    --input-tag-div-nth-child-2-a-color: #fff;
    --input-tag-div-nth-child-2-a-hover-background: #666;
    --input-tag-div-nth-child-2-a-hover-color: #fff;
    --input-tag-div-nth-child-2-a-border-top: 1px solid #555;
    --kbd-background: rgba(120,120,150);
    --kbd-border: 1px solid #C7CCD9;
    --kbd-join-color: #fff;
    --menu-border-color: #888;
    --metadata-hover-background: #080;
    --metadata-hover-color: #fff;
    --outline-color: #4bf;
    --phame-blog-read-more-color: #999;
    --phame-blog-post-info-color: #aaa;
    --phame-blog-overview-post-background: #555;
    --phriction-link-missing-color: #f88;
    --progress-bar-div-background-color: #f5f5f5;
    --progress-bar-div-color: #fff;
    --progress-bar-div-div-background-color: #2196F3;
    --progress-bar-div-div-background-image1: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --progress-bar-div-div-background-image2: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --progress-bar-div-div-background-image3: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --remarkup-important-background: #cc3000;
    --remarkup-important-border-left: 3px solid #ff786a;
    --remarkup-important-color: #fff;
    --remarkup-note-background: #2980b9;
    --remarkup-note-border-left: 3px solid #49c0f9;
    --remarkup-note-color: #fff;
    --remarkup-warning-background: #f1c40f;
    --remarkup-warning-border-left: 3px solid #fff28d;
    --remarkup-warning-color: #000;
    --hr-remarkup-hr-color: #aaa;
    --label-aphront-form-label-color: #C4AB73;
    --remarkup-embed-border-background: #555;
    --remarkup-embed-border-border: 1px solid #BFCFDA;
    --remarkup-embed-border-color: #eed;
    --remarkup-embed-border-hover-background: #666;
    --remarkup-embed-border-hover-border-color: #FFDB93;
    --remarkup-embed-file-size-color: #ccc;
    --remarkup-embed-download-link-a-color: #ccc;
    --remarkup-nav-sequence-anchor-text-decoration: solid underline #fff;
    --remarkup-nav-sequence-item-background: #468;
    --remarkup-nav-sequence-item-border: solid 1px #fff;
    --remarkup-nav-sequence-item-color: #fff;
    --remarkup-toc-background: #444;
    --select-background-color: #333337;
    --select-color: #fff;
    --select-border: 1px solid #888;
    --select-after-color: #eee;
    --span-remarkup-highlight-background-color: #c33;
    --span-remarkup-highlight-color: #fff;
    --stacktrace-background-color: #444;
    --stacktrace-color: #fff;
    --table-aphront-table-view-tr-hover-td-background-color: #ccc8;
    --table-aphront-table-view-tr-hover-td-color: #000;
    --table-aphront-table-view-tr-hover-td-a-color: #047;
    --table-aphront-table-view-tr-alternate-nth-child-2n-td-background-color: #333;
    --table-aphront-table-view-tr-alternate-nth-child-2n1-td-background-color: #444;
    --table-aphront-table-view-tr-border-bottom-color: #444;
    --table-aphront-table-view-tr-disallowed-td-background-color: #ffa0a0;
    --table-aphront-table-view-tr-disallowed-td-color: #660;
    --table-aphront-table-view-tr-selected-border-bottom-color: #444;
    --table-aphront-table-view-tr-selected-td-background-color: #aaa;
    --table-aphront-table-view-tr-selected-td-color: #444;
    --table-remarkup-table-background: #4F5F6A;
    --table-remarkup-table-th-background: #666;
    --tblOfflineChanges-exclamation-triangle-color: yellow;
    --textarea-background-color: #333337;
    --textarea-border: 1px solid #4d4d4f;
    --textarea-color: #fff;
    --textarea-dropzone-background-color: #005000;
    --textarea-focus-border: 1px solid rgba(82,168,236,0.7);
    --textarea-focus-box-shadow: 0 0 2pt 2pt rgba(82,168,236,0.3);
    --timeline-color: #aaa;
    --timeline-comment-border: solid 1px #455f6A;
    --timeline-comment-background: #444;
    --timeline-comment-content-background: #2c2c2c;
    --timeline-comment-content-color: #aaa;
    --timeline-content-background: #222226;
    --timeline-item-border-bottom: solid 1px #455f6A;
    --timeline-item-owner-background: #74d;
    --timeline-item-owner-color: #fff;
    --timeline-item-priority-background: #4a4;
    --timeline-item-priority-color: #fff;
    --timeline-item-project-background: #9c7b86;
    --timeline-item-project-color: #fff;
    --timeline-item-status-open-background: #4a4;
    --timeline-item-status-open-color: #fff;
    --timeline-item-status-closed-background: #d32;
    --timeline-item-status-closed-color: #fff;
    --timeline-item-subscriber-background: #7b869c;
    --timeline-item-subscriber-color: #fff;
    --transaction-item-background: #666;
    --transaction-item-color: #fff;
    --transaction-item-close-color: #fff;
    --transaction-item-close-hover-color: #f42;
    --tt-remarkup-monospaced-background: rgba(80,120,150);
    --tt-remarkup-monospaced-color: #fff;
    --tooltiptext-background-color: #999;
    --tooltiptext-color: #222;
    --tooltiptext-after-border-color: transparent #999 transparent transparent;
    --user-menu-content-background: #333;
    --user-menu-content-border-color: #444;
    --user-menu-content-ul-li-a-span-hover-background: #666;
    --user-menu-content-ul-li-a-span-hover-color: #d4d2ce;
    --user-reference-background: #0D0;
    --user-reference-color: #444;
    --user-reference-border-color: #fff;
    --webkit-scrollbar-track-box-shadow: inset 0 0 6px #0008;
    --webkit-scrollbar-thumb-shadow: inset 0 0 99px #fff7;
}
