[data-theme="light"] {
    --disablePrintableView-background: #4a5f88;
    --disablePrintableView-color: #fff;
    --headerBar-background: #4a5f88;
    --popSearchResults-background: #fffff8;
    --popSearchResults-border: solid 1px silver;
    --popSearchResults-a-border-bottom: solid 1px silver;
    --popSearchResults-a-hover-background: #dfdfd8;
    --aphront-dialog-body-background: #fff;
    --aphront-dialog-head-background: #fff;
    --aphront-dialog-head-border-bottom: 1px solid #DDE8EF;
    --aphront-dialog-head-color: #464C5C;
    --aphront-dialog-overlay-background: #404040;
    --aphront-dialog-tail-background: #F7F7F7;
    --aphront-dialog-tail-border-top: 1px solid #DDE8EF;
    --aphront-dialog-view-background-color: #fff;
    --aphront-dialog-view-border: 1px solid #BFCFDA;
    --aphront-dialog-view-modal-border: 2px solid #888;
    --aphront-form-error-color: #c0392b;
    --aphront-table-view-th-background-color: #eee;
    --aphront-table-view-th-border-bottom: 1px solid #DDE8EF;
    --aphront-table-view-th-color: #6B748C;
    --app-edit-window-head-background-image: linear-gradient(#F7F7F7,#E7E7EF);
    --app-edit-window-head-border-bottom: 1px solid #BFCFDA;
    --app-edit-window-head-color: #74777D;
    --app-edit-window-head-phui-font-fa-hover-color: #3498db;
    --app-window-head-background: #eff3fc;
    --app-window-head-background-collapsed: linear-gradient(to bottom, #eff3fc, #eff3fc, #bfc3cc);
    --app-window-head-color: #6B748C;
    --autocomplete-background: #fff;
    --autocomplete-border-color: #C7CCD9;
    --autocomplete-head-background: #F7F7F7;
    --autocomplete-head-color: #4B4D51;
    --autocomplete-head-icon-color: #92969D;
    --autocomplete-list-a-menuitem-border-top-color: #DDE8EF;
    --autocomplete-list-a-menuitem-color: #4B4D51;
    --autocomplete-list-a-menuitem-focused-color: #4B4D51;
    --autocomplete-list-a-menuitem-focused-background: #dee7f8;
    --autocomplete-list-a-menuitem-icon-color: #8C98B8;
    --config-tables-body-color: #74777D !important;
    --config-tables-body-background-color: #F7F7F7;
    --config-tables-body-border-bottom: solid 1px #D1D6E0;
    --config-tables-header-border: solid 1px #A1A6B0;
    --created-background1: #fb4;
    --created-background2: linear-gradient(to bottom,#f88,#fb4,#f88);
    --created-color: #f09040;
    --created-webkit-text-fill-color: transparent;
    --crumbs-a-hover-color: #3498db;
    --diff-border-color: #ccc;
    --diff-header-background: #f7f7f7;
    --diff-header-border-color: #999;
    --diff-locationpane-delete-background: #f00;
    --diff-locationpane-insert-background: #0f0;
    --diff-locationpane-equal-background: #eee;
    --diff-locationpane-replace-background: #c80;
    --diff-td-delete-background: #ffd8d8;
    --diff-td-equal-background: #fff;
    --diff-td-insert-background: #d8ffd8;
    --diff-td-insert-color: #000;
    --diff-td-merge-background: skyblue;
    --diff-td-merge-color: #000;
    --diff-td-replace-background: #fec;
    --diff-td-replace-color: #000;
    --diff-td-replace-em-background: #ffe;
    --diff-td-replace-em-border: solid 1px #a0806060;
    --diff-td-replace-em-color: #852;
    --diff-empty-line-background: repeating-linear-gradient(135deg, transparent, transparent 6px, #e0e0e0 6px, #e0e0e0 8px), repeating-linear-gradient(45deg, #f7f7f7, #f7f7f7 6px, #e0e0e0 6px, #e0e0e0 8px);
    --edit-container-app-window-body-edit-border: solid 1px #A1A6B0;
    --edit-left-background: #eee;
    --edit-slider-background-image: linear-gradient(toright,#ccc,#fff,#ccc);
    --fa-sign-out-color: #fff;
    --favorite-item-border-normal: #ddd;
    --favorite-item-border-dragging: 2px 3px 5px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    --favorite-item-splitter: #ccc;
    --frozen-background1: -webkit-linear-gradient(to bottom,#00f,#04f,#0ff);
    --frozen-background2: linear-gradient(to bottom,#00f,#04f,#0ff);
    --frozen-color: #4090f0;
    --frozen-webkit-text-fill-color: transparent;
    --frozen-even-row-background: #8cf;
    --frozen-odd-row-background: #aef;
    --unfrozen-background1: -webkit-linear-gradient(to bottom,#f00,#f40,#ff0);
    --unfrozen-background2: linear-gradient(to bottom,#f00,#f40,#ff0);
    --unfrozen-color: #f09040;
    --unfrozen-webkit-text-fill-color: transparent;
    --homepage-line-color: #eef;
    --list-item-separator-border-top: solid 1px #ebeced;
    --list-item-view-a-color: #464C5C;
    --navigator-menuitem-notification-error-background: #d20;
    --navigator-menuitem-notification-error-color: #fff;
    --navigator-menuitem-notification-information-background: #08f;
    --navigator-menuitem-notification-information-color: #fff;
    --maniphest-link-background-image: linear-gradient(to bottom,#eee,#ddd);
    --maniphest-link-border: solid 1px #ccc;
    --maniphest-link-color: #000;
    --maniphest-link-hover-background-image: linear-gradient(to bottom, #eff, #acf);
    --maniphest-list-head-background: #F7F7F7;
    --maniphest-list-head-border-bottom: 1px solid #BFCFDA;
    --maniphest-list-item-border-bottom: 1px solid #BFCFDA;
    --maniphest-list-item-project-a-border-color: #d1abab;
    --maniphest-list-item-timestamp-color: #74777D;
    --maniphest-task-red-color: #c0392b;
    --maniphest-task-lightred-color: #7f261c;
    --maniphest-task-orange-color: #e67e22;
    --maniphest-task-lightorange-color: #f7e2d4;
    --maniphest-task-yellow-color: #f1c40f;
    --maniphest-task-lightyellow-color: #a4850a;
    --maniphest-task-green-color: #139543;
    --maniphest-task-lightgreen-color: #0e7032;
    --maniphest-task-blue-color: #2980b9;
    --maniphest-task-lightblue-color: #1d5981;
    --maniphest-task-sky-color: #3498db;
    --maniphest-task-lightsky-color: #ddeef9;
    --maniphest-task-fire-color: #e62f17;
    --maniphest-task-indigo-color: #6e5cb6;
    --maniphest-task-lightindigo-color: #eae6f7;
    --maniphest-task-pink-color: #da49be;
    --maniphest-task-lightpink-color: #fbeaf8;
    --maniphest-task-violet-color: #8e44ad;
    --maniphest-task-lightviolet-color: #622f78;
    --maniphest-task-charcoal-color: #4b4d51;
    --maniphest-task-state-background: #edeef2;
    --maniphest-task-state-color: #555;
    --phabrico-logo-color: #fff;
    --phui-document-background: #fff;
    --phui-document-create-message-background: #eee;
    --phui-document-border-bottom: 30px solid #f3f5f7;
    --phui-document-toc-li-hover-background-color: rgba(0,0,0,.15);
    --phui-document-hierarchy-border: solid 1px #ccc;
    --phui-document-hierarchy-border-background: #888;
    --phui-font-fa-color: #4B4D51;
    --phui-info-severity-error-border-color: #c0392b;
    --phui-info-severity-error-color: #c0392b;
    --phui-list-item-href-hover-background: rgba(0,0,0,.12);
    --phui-list-view-background: #eaedf1;
    --requestStackTrace-background: #eee;
    --requestStackTrace-color: #000;
    --selected-text-background: #266ec8;
    --selected-text-foreground: #fff;
    --tab-head-button-background-image: linear-gradient(to bottom,#ebebeb,#dbdbdb);
    --tab-head-button-background-image-hover: linear-gradient(to bottom,#ebebeb,#bbb);
    --tab-head-button-border: solid 1px #BFCFDA;
    --tab-head-button-border-bottom: #dbdbdb solid 1px;
    --tab-head-button-color: #666;
    --tab-head-button-color-hover: #666;
    --tab-head-button-selected-background-image: linear-gradient(to bottom,#fff,#fff);
    --tab-head-button-selected-border-bottom: solid 2px #FFF;
    --tab-head-button-selected-color: #000;
    --a-color: #136CB2;
    --phui-document-hierarchy-a-color: #136CB2;
    --blockquote-background-color: #F8F9FC;
    --blockquote-border-left: 3px solid #a7b5bf;
    --blockquote-color: #464C5C;
    --body-background: #f3f5f7;
    --body-color: #000;
    --button-background-color: #2980b9;
    --button-snowflake-color: #60b0ff;
    --button-background-image: linear-gradient(to bottom,#3498db,#2980b9);
    --button-background-image-hover: linear-gradient(to bottom,#54b8fb,#2980b9);
    --button-border: 1px solid #2980b9;
    --button-color: #FFF;
    --button-color-hover: #FFF;
    --button-green-background-image: linear-gradient(to bottom,#34db68,#009000);
    --button-green-hover-background-image: linear-gradient(to bottom,#34db68,#00b900);
    --button-gray-background-color: #F7F7F9;
    --button-gray-background-image: linear-gradient(to bottom,#fff,#f1f0f1);
    --button-gray-border: 1px solid rgba(71,87,120,0.3);
    --button-gray-color: #4B4D51;
    --button-gray-background-image-hover: linear-gradient(to bottom, #fff, #ccc);
    --button-gray-color-hover: #666;
    --button-red-background-image: linear-gradient(to bottom,#db3468,#900000);
    --button-red-hover-background-image: linear-gradient(to bottom,#fe74b8,#e94040);
    --counterexample-background: #f7e6e6;
    --img-darkness-extreme-filter: unset;
    --img-darkness-moderate-filter: unset;
    --input-tag-div-first-child-span-background: #f7e6e6;
    --input-tag-div-first-child-span-color: #a53737;
    --input-tag-div-first-child-span-border: solid 1px #efcfcf;
    --input-tag-div-nth-child-2-background: #fff;
    --input-tag-div-nth-child-2-color: #222;
    --input-tag-div-nth-child-2-border: 1px solid #DDE8EF;
    --input-tag-div-nth-child-2-a-background: #eceff5;
    --input-tag-div-nth-child-2-a-color: #222;
    --input-tag-div-nth-child-2-a-hover-background: #cccff5;
    --input-tag-div-nth-child-2-a-hover-color: #222;
    --input-tag-div-nth-child-2-a-border-top: 1px solid #DDE8EF;
    --kbd-background: #F7F7F7;
    --kbd-border: 1px solid #C7CCD9;
    --kbd-join-color: #92969D;
    --menu-border-color: #ccc;
    --phriction-link-missing-color: #c0392b;
    --progress-bar-div-background-color: #f5f5f5;
    --progress-bar-div-color: #fff;
    --progress-bar-div-div-background-color: #2196F3;
    --progress-bar-div-div-background-image1: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --progress-bar-div-div-background-image2: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --progress-bar-div-div-background-image3: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    --remarkup-important-background: #f4dddb;
    --remarkup-important-border-left: 3px solid #c0392b;
    --remarkup-important-color: #000;
    --remarkup-note-background: #daeaf3;
    --remarkup-note-border-left: 3px solid #2980b9;
    --remarkup-note-color: #000;
    --remarkup-warning-background: #fdf5d4;
    --remarkup-warning-border-left: 3px solid #f1c40f;
    --remarkup-warning-color: #000;
    --hr-remarkup-hr-color: #DDE8EF;
    --label-aphront-form-label-color: #6B748C;
    --remarkup-embed-border-background: #fff;
    --remarkup-embed-border-border: 1px solid #BFCFDA;
    --remarkup-embed-border-color: #000;
    --remarkup-embed-border-hover-background: #ddd;
    --remarkup-embed-border-hover-border-color: #8e44ad;
    --remarkup-embed-file-size-color: #999;
    --remarkup-embed-download-link-a-color: #999;
    --remarkup-nav-sequence-anchor-text-decoration: solid underline #fff;
    --remarkup-nav-sequence-item-background: #468;
    --remarkup-nav-sequence-item-border: solid 1px #fff;
    --remarkup-nav-sequence-item-color: #fff;
    --select-border: 1px solid #ccc;
    --select-after-color: #000;
    --span-remarkup-highlight-background-color: #ecdff1;
    --span-remarkup-highlight-color: #000;
    --stacktrace-background-color: #ccc;
    --stacktrace-color: #000;
    --table-aphront-table-view-tr-hover-td-background-color: #ccc8;
    --table-aphront-table-view-tr-hover-td-color: #000;
    --table-aphront-table-view-tr-hover-td-a-color: #02A;
    --table-aphront-table-view-tr-alternate-nth-child-2n-td-background-color: #f8f8f8;
    --table-aphront-table-view-tr-alternate-nth-child-2n1-td-background-color: #fff;
    --table-aphront-table-view-tr-border-bottom-color: #fff;
    --table-aphront-table-view-tr-disallowed-td-background-color: #ffa0a0;
    --table-aphront-table-view-tr-disallowed-td-color: #464C5C;
    --table-aphront-table-view-tr-selected-td-background-color: #4af;
    --table-aphront-table-view-tr-selected-td-color: #fff;
    --table-remarkup-table-background: #BFCFDA;
    --table-remarkup-table-th-background: #F8F9FC;
    --tblOfflineChanges-exclamation-triangle-color: orangered;
    --textarea-background-color: #fff;
    --textarea-border: 1px solid #A1A6B0;
    --textarea-color: #000;
    --textarea-dropzone-background-color: #ddefdd;
    --textarea-focus-border: 1px solid rgba(82,168,236,0.7);
    --textarea-focus-box-shadow: 0 0 2pt 2pt rgba(82,168,236,0.3);
    --timeline-color: #444;
    --timeline-comment-border: 1px solid #BFCFDA;
    --timeline-comment-background: #eff3fc;
    --timeline-comment-content-background: #fff;
    --timeline-comment-content-color: #222;
    --timeline-content-background: #fff;
    --timeline-item-border-bottom: solid 1px #BFCFDA;
    --timeline-item-owner-background: #6e5cb6;
    --timeline-item-owner-color: #fff;
    --timeline-item-priority-background: #080;
    --timeline-item-priority-color: #fff;
    --timeline-item-project-background: #ac8b96;
    --timeline-item-project-color: #fff;
    --timeline-item-status-open-background: #080;
    --timeline-item-status-open-color: #fff;
    --timeline-item-status-closed-background: #f00;
    --timeline-item-status-closed-color: #fff;
    --timeline-item-subscriber-background: #8b96ac;
    --timeline-item-subscriber-color: #fff;
    --transaction-item-background: #eee;
    --transaction-item-color: #678;
    --transaction-item-close-color: #fff;
    --transaction-item-close-hover-color: #d32;
    --tt-remarkup-monospaced-background: rgba(71,87,120,0.1);
    --tt-remarkup-monospaced-color: #000;
    --tooltiptext-background-color: #000;
    --tooltiptext-color: #fff;
    --user-menu-content-background: #fff;
    --user-menu-content-border-color: #C7CCD9;
    --user-menu-content-ul-li-a-span-hover-background: #f0f2f4;
    --user-menu-content-ul-li-a-span-hover-color: #3498db;
    --user-reference-background: #bbc;
    --user-reference-color: #464C5C;
    --user-reference-border-color: #464C5C;
    --webkit-scrollbar-track-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    --webkit-scrollbar-thumb-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
